/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.siteHeader{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr; 
	-ms-grid-rows: 1fr; 
	grid-template-rows: 1fr;
  	grid-template-areas: ". .";
  	min-height: 60px;

  	*:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	*:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

  	@include tablet {
  		min-height: 140px;
  		background: url('./images/header-small-bow.svg');
  		background-size: cover;
  		background-repeat: no-repeat;
  		height: 140px;
  		background-position-y:-12px;
		// grid-template-columns: 2fr 1fr;
	}
	@include phone {
  		background: url('./images/header-small-bow.svg');
  		background-size: 174%;
  		background-repeat: no-repeat;
  		height: 115px;
  		background-position-y:-15px;
		// grid-template-columns: 2fr 1fr;
	}

	@include desktop{
		grid-template-columns: 2fr 1fr; 
		-ms-grid-columns: 2fr 1fr;
	}

	.siteHeader__left{
		position: relative;

		.siteHeader__left__defaultbackground{
			position: absolute;
			height: 200px;
			width: 100%;
			top: -30px;
			right: 0px;
			background: url('./images/header-small-bow.svg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right bottom;

				@include tablet {
  					background: transparent; 
				}
				@include phone{
					height: 115px;
				}
		}
	}

	.siteHeader__right{
    	padding-right: 70px;
    	position: relative;

    	@include tablet {
			padding-right: 0px;
		}
	}
}



.site-branding{
	padding-left: 70px;
	margin-top: 20px;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;

	@include desktop {
		padding-left: 20px;
	}
	
	a{
		text-decoration: none;
		display: inline-block;

		img{
			max-height: 100%;
			width: 180px;
			height: auto;
		}
	}
}

/*--------------------------------------------------------------
## Header Home
--------------------------------------------------------------*/
.siteHeaderHome{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	background: #F9F9F9;
	position: relative;

	@include desktop{
		background: $red-blue-semi, url('./images/boyband.webp');
		background-repeat: no-repeat;
		background-size: cover, cover;
		background-position: center center;

		*{
			color: white;
		}
	}
}

.no-webp .siteHeaderHome{
	@include desktop{
		background: $red-blue-semi, url('./images/boyband.jpg');
		background-repeat: no-repeat;
		background-size: cover, cover;
		background-position: center center;
	}
}

.siteHeaderHome .siteHeader__left{
	background: url('./images/header-bubble-left.webp');
	background-size: cover;
	background-position: top 25% right;
	width: 57%;

	@include desktop{
		display: none;
	}

	.omk-logo{
		position: absolute;
		color: #ffffff;
    	top: 550px;
    	left: 40px;
	}
}

.no-webp .siteHeaderHome .siteHeader__left{
	background: url('./images/header-bubble-left.jpg');
	background-size: cover;
	background-position: top 25% right;
}

.siteHeaderHome .siteHeader__right{
	width: 42%;
	position: relative;
	padding-right: 10px;
	position: rel;

	.btn_type_rounded{
		margin-right: 30px;
	}

	@include desktop{
		width: 100%;

		p{
			width: 70%;
		}
	}

	@include tablet {
		padding-right: 0px;
		position: relative;
	}

	@include phone{
		p{
			width: 100%;
		}
	}
}

.siteHeaderHome .siteHeader__right .text{
	margin-left: 20px;
	padding-right: 70px;
	width: 90%;
    margin-top: 200px;
    margin-bottom: 200px;    
    z-index: 99;
    position: relative;

    @include desktop{
    	margin-left: 10px;
    	margin-top: 150px;
    	margin-bottom: 150px;
    	 
    	 .subTitle, .btn_type_text.btn_iconposition_right{
    		color: white;
    	}  
    }

    h1, h2 , h3, h4, h5, h6{
    	line-height: 1.1;
    	margin: 0px;

    	.sub-title{
    		color: $black;
    		line-height: 1.1;
		    margin: 0;
		    font-weight: 300;
		    font-size: 1.2rem;
		    display: block;

		    @include desktop{
		    	color: $white;
		    }
    	}
    }
}

.bow{	
    background: url('./images/header-bow.png') bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 95px;
    top: -50px;


   @include desktop{
   	top: -90px;
   }
}








