/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {

	@media screen and (max-width: 1024px) {
		display: none;
	}
}
.main-navigation ul {
	list-style: none;
	text-align: right;
	float: right;
	margin-top: 30px;
}
.siteHeaderHome .main-navigation ul{
	float: left;
	margin-left: 8px;
}

.main-navigation li {
	display: inline-block;
	position: relative;
	padding-left: 13px;
	padding-right: 13px;

	&.menu-highlight{
    	a{
    		color: $red;

	    	&:hover{
	    		border-bottom: 1px solid $red;
	    	}
	    }
    }
	@media screen and (min-width: 1024px) and (max-width: 1200px){		
		padding-left: 6px;
		padding-right: 6px;
	}
}

.main-navigation li.menu-item-has-children{

	a:after{
		content: '';
		background: url('./images/chevron-down.svg') no-repeat;
		background-position: center center;
		display: inline-block;
		width: 14px;
		height: 9px;
		opacity: 0.5;
	}

	&:hover {
		
		ul.sub-menu{
			transition: all .2s ease-in-out;
			display: block;
		}
	}
}

.main-navigation a {
	text-decoration: none;
    padding: 4px 0px 7px 0px;
    color: $black;
    font-weight: $weightNormal;
    font-size: 0.9rem;

    &:hover{
    	border-bottom: 1px solid $black;
    }
}

.main-navigation .current_page_item a, .main-navigation .current_page_ancestor a{
	color: $black;
    font-weight: $weightBold;
}


/*--------------------------------------------------------------
## Sub-menu
--------------------------------------------------------------*/
.main-navigation ul.sub-menu{
	position: absolute;
	text-align: left;
	width: 220px;
	display: none;
	transition: all .2s ease-in-out;
	height: auto;
	box-shadow: 0 5px 2000px 2000px rgba(0,0,0,0.10);
	left: 50%;
    transform: translateX(-50%);

	&:after{
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(245, 117, 32, 0);
		border-bottom-color: #F57520;
		border-width: 10px;
		margin-left: -10px;
	}

	li{
		display: block;

		a{
			display:block;
			padding:15px 20px;

			&:hover{
				cursor: pointer;
			}

			&:after{
				display: none ;
			}
		}

		&:last-child a{
			border-bottom: 0px;
		}
	}
}

ul#copyright-menu{
	list-style: none;

	li{
		display: inline-block;
		margin-right: 10px;

		a{
			color: #A7A7A6;
			text-decoration: none;

			&:hover{
				color: $blue;
			}
		}
	}
}

ul.menu_type_vertical{
	list-style-type: none;

	li{
		display: block;
	}
}


/*--------------------------------------------------------------
## Mobiel menu
--------------------------------------------------------------*/
.mobile-toggle{
	background: $green;
	color: white;
	position: absolute;
	right: 20px;
	top:20px;
	z-index: 999;
	padding: 10px;
	border-radius: $border-radius;

	@media screen and (min-width: 1024px) {
		display: none;
	}

	&:hover{
		cursor: pointer;
	}
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background: $blue-green-full;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 60px;
  padding: 0px;
  line-height: 0;
  margin: 0px;

}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}








