body.stylesheet{
	background: $white!important;
}
.containerStyle{
	width: 50%;
	margin: 60px auto 60px auto;

	.blockItem{
		margin-bottom: 30px;
		border-bottom: 1px solid #ececec;
		padding-bottom: 30px;
		padding-left: 30px;
	}
	h1.pagetitle{
		margin-bottom: 30px;
	}
	h3.blockTitle{
		margin-bottom:20px;
		margin-left: -30px;
		font-weight: 900;
	}
	ul.colorList{
		list-style-type: none;
		margin-left: 0px;

		li{
			display: inline-block;
			margin-right: 20px;
			text-align: center;
			color: #afafaf;

			div.colorBlock{
				width: 75px; 
				height: 75px;
				display:block;margin-bottom: 10px;
				box-shadow: 0px 0px 7px 0px #f2f2f2;
    			border-radius: 50%;

				&.red{background: $red;}
				&.green{background: $green;}
				&.golden{background: $golden;}
				&.black{background: $black;}
				&.white{background: $white;}
				&.offwhite{background: $offwhite;}
			}
		}
	}
	ul{
		span{
			display: block;
			color: #afafaf;
			font-size: 0.8rem;
		}
	}
	ul.normalList{
		list-style-type: none;
		margin-left: 0px;

		li{
			width: 250px;
			margin-right: 20px;
			margin-bottom: 40px;
			display: inline-block; 
			vertical-align: top;

			label{
				display: inline-block;
				margin-bottom: 10px;
				margin-left: 0px!important;
			}
			
			a{
			    margin-bottom: 20px;
			}
		}
	}
	ul.gradientList{
		li{
			width: 200px;
			margin-right: 20px;
			margin-bottom: 40px;
			display: inline-block; 
			vertical-align: top;

			.gradientBlock{
				width: 200px;
				height: 150px;
				margin-bottom: 10px;
				position: relative;

				.gradientPhotoBg{
					background: url('https://www.onlinemediakoffer.nl/wp-content/uploads/2017/03/joostaanhetwerk.jpg');
					background-size: cover;
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 3;
				}
				.gradientOverlay{
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 5;
				}
			}
		}
	}
}
