/*--------------------------------------------------------------
# Adobe Typekit import
--------------------------------------------------------------*/
@import url("https://use.typekit.net/dti2bhh.css");

/*--------------------------------------------------------------
# Responsive REM-unit rescaling
--------------------------------------------------------------*/
html {
  font-size: 14px;
  line-height: 0px;
  
  @media (min-width: 800px) {
    font-size: 16px;
  }
  @media (min-width: 1140px) {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/* Font weights */
$weightNormal: 300;
$weightBold: 700;
$weightBlack: 900;


/* elements */
body,
button,
input,
select,
optgroup,
textarea {
	font-size: 1rem;
	font-family: sofia-pro, sans-serif;

  font-display: auto;
	font-weight: $weightNormal;
	color: $black;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
b, strong{
	font-weight: $weightBold;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: $weightBold;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	font-family: sofia-pro, sans-serif;

  font-display: auto;
	color: $green;
}

h1{
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: $weightBlack;

	span.small{
		font-size: 1.8rem;
		font-weight: 300;
		display: block;
		color: $black;
	}
	.sub-title{
		font-weight: 300;
		font-size: 1.2rem;
		color: $black;
	}

	@include phone{
		font-size: 1.8rem;
	}
}
h2{
	font-size: 1.8rem;
	line-height: 1.2;
	display: block;

	span.small{
		font-size: 1.4rem;
		font-weight: 300;
		display: block;
		color: $black;
	}
}

h3{
	font-size: 1.5rem;
	line-height: 1.25;

	&.subTitle{
		margin: 0px;
		padding: 0px;
		color: $black;
		font-weight: 300;
		font-size: 1.2rem;
	}
}

h4{
	font-size: 1.3rem;
	line-height: 1.1;
	font-weight: 700;
}

h5{
	font-size: 0.9rem;
	line-height: 1;
}

h6{
	font-size: 1rem;
	text-transform: uppercase;
}

p {
	line-height: 1.5;

	&.p_type_sectionintro{
		width: 50%;
		display: block;

		@include phone {
			width: 100%;
		}
	}
}
span.sub-title{
	font-size: 1.0rem;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	font-style: italic;

	cite{
		font-weight: $weightBold;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;

  font-display: auto;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	
  font-display: auto;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/








