/*--------------------------------------------------------------
# Breakpoints responsive
--------------------------------------------------------------*/

@mixin phone {
	@media screen and (max-width: 480px){
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: 767px){
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width: 1024px){
		@content;
	}
}
@mixin media($width) {
	@media screen and (max-width: $width){
		@content;
	}
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$black: 	#2C2C2B;
$offwhite: 	#F6F1E9;
$white: 	#FFFFFF;
$red: 		#E43260;
$golden: 	#FABB5A;
$green: 	#008A80;
$blue: 		#00B4FF;

/*--------------------------------------------------------------
# Gradients
--------------------------------------------------------------*/

/* Set gradients */
$blue-green-full: linear-gradient(135deg, rgba(0,180,255,1) 0%,rgba(0,138,128,1) 100%);
$yellow-green-full:linear-gradient(135deg, rgba(250,187,90,1) 0%,rgba(0,138,128,1) 100%);
$red-blue-full: linear-gradient(135deg, rgba(228,50,96,1) 0%,rgba(30,87,153,1) 100%,rgba(0,180,255,1) 100%);
$red-green-full: linear-gradient(135deg, rgba(228,50,96,1) 0%,rgba(0,138,128,1) 100%,rgba(0,180,255,1) 100%); 
$yellow-red-full:linear-gradient(135deg, rgba(0,180,255,1) 0%,rgba(250,187,90,1) 0%,rgba(228,50,96,1) 100%); 
$yellow-blue-full:linear-gradient(135deg, rgba(0,180,255,1) 0%,rgba(250,187,90,1) 0%,rgba(0,180,255,1) 100%); 


$blue-green-semi: linear-gradient(135deg, rgba(0,180,255,0.7) 0%,rgba(0,138,128,0.9) 100%);
$yellow-green-semi:linear-gradient(135deg, rgba(250,187,90,0.7) 0%,rgba(0,138,128,0.9) 100%);
$red-blue-semi: linear-gradient(135deg, rgba(228,50,96,0.7) 0%,rgba(30,87,153,1) 100%,rgba(0,180,255,0.7) 100%);
$red-green-semi: linear-gradient(135deg, rgba(228,50,96,0.7) 0%,rgba(0,138,128,1) 100%,rgba(0,180,255,0.7) 100%);
$yellow-red-semi: linear-gradient(135deg, rgba(0,180,255,0.7) 0%,rgba(250,187,90,0.7) 0%,rgba(228,50,96,1) 100%); 
$yellow-blue-semi: linear-gradient(135deg, rgba(0,180,255,0.7) 0%, rgba(250, 187, 90, 0.8) 0%, rgba(0,180,255,0.9) 100%); 

/* Set classes */
.gradient_color_blue-green-full{ background: $blue-green-full;}
.gradient_color_yellow-green-full{ background: $yellow-green-full;}
.gradient_color_red-blue-full{ background: $red-blue-full;}
.gradient_color_red-green-full{ background: $red-green-full;}
.gradient_color_yellow-red-full{ background: $yellow-red-full;}
.gradient_color_yellow-blue-full{ background: $yellow-blue-full;}

.gradient_color_blue-green-semi{ background: $blue-green-semi;}
.gradient_color_yellow-green-semi{ background: $yellow-green-semi;}
.gradient_color_red-blue-semi{ background: $red-blue-semi;}
.gradient_color_red-green-semi{ background: $red-green-semi;}
.gradient_color_yellow-red-semi{ background: $yellow-red-semi;}
.gradient_color_yellow-blue-semi{ background: $yellow-blue-semi;}


@mixin backgroundCover{
	background-size: cover;
	background-position: center center;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$border-radius: 10px; 


@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);

	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position: relative;

	#{$selector} {
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/*--------------------------------------------------------------
# Labels
--------------------------------------------------------------*/
.tags{
	border-radius: $border-radius;
	font-weight: 400;
	display: inline-block;
	padding: 4px 10px 5px;
	line-height: normal;
	color: $white;
	font-size: 0.9rem;
	text-decoration: none;

	&.red{
		background: $red;
		margin-right: 5px;

		&:hover{
			background: darken($red,10%);
		}
	}
	&.green{
		background: $green;
		margin-right: 5px;
		
		&:hover{
			background: darken($green,5%);
		}
	}
}

/*--------------------------------------------------------------
# Image styles
--------------------------------------------------------------*/
.verticalImage{
	margin-top: 30%;

	@include tablet{
		margin-top: 20px;
	}
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn{
	position: relative;	
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	text-decoration: none;
	display: inline-block;
	line-height: normal;

	&:hover{
		cursor: pointer;
	}
}

/* icon default */
@mixin icon{
	font-family: 'Font Awesome 5 Free';
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    line-height: 30px;
}


/* types */
.btn_type_rounded, .wp-block-button{
	border-radius: 50px;
	font-weight: 700;
	padding: 13px 25px 15px 25px;
	display: inline-block;
    margin-bottom: 20px;
    font-size: 1rem;
	transition:all .2s ease-in-out;

    &:after{
	    top: 13px;
	    height: 30px;
		width: 35px;
    }

    &.btn_iconposition_right:after{
	    background: url('./images/icon-bg-drop.svg');
	    background-repeat: no-repeat;
    }
    &.btn_iconposition_left:after{
	    background: url('./images/icon-bg-drop.svg');
	    background-repeat: no-repeat;
	    transform: rotate(180deg);
    }
    &.btn_iconposition_downleft:after{
    	background: url('./images/icon-bg-drop.svg');
	    background-repeat: no-repeat;
	    transform: rotate(90deg);
    }
    &.btn_iconposition_downright:after{
    	background: url('./images/icon-bg-drop.svg');
	    background-repeat: no-repeat;
	    transform: rotate(90deg);
    }


    /* rounded colors */
	&.btn_color_red{
		background: $red;
		color: $white;

		&:hover{
			background: darken($red,10%);
		}
	}
	&.btn_color_green{
		background: $green;
		color: $white;

		&:hover{
			background: darken($green,10%);
		}
	}
	&.btn_color_golden{
		background: $golden;
		color: $white;

		&:hover{
			background: darken($golden,10%);
		}
	}
	&.btn_color_blue{
		background: $blue;
		color: $white;

		&:hover{
			background: darken($blue,10%);
		}
	}

	/* rounded icon postion left / right */
	&.btn_iconposition_left{
		padding-left: 64px;

		&:after{
	    	left: 0px;
			@include icon;
		}
		&:hover{
			&:after{
				left: -3px;
			}
		}
	}
	&.btn_iconposition_right{
		padding-right: 64px;

		&:after{
	    	right: 13px;
			@include icon;
		}
		&:hover{
			&:after{
				right: 10px;
			}
		}
	}
	&.btn_iconposition_downleft{
		padding-left: 62px;

		&:after{
	    	left: 0px;
			@include icon;
		}
		&:hover{
			&:after{
				top: 16px;
			}
		}
	}
	&.btn_iconposition_downright{
		padding-right: 62px;

		&:after{
	    	right: 13px;
			@include icon;
		}
		&:hover{
			&:after{
				top: 16px;
			}
		}
	}
		/* icon type */
	&.btn_icon_arrowleft{
		&:after{
			content: '\f054';
		    margin-left: 13px;
		    margin-top: -2px;
		}
	}

	&.btn_icon_arrowright{
		&:after{
			content: '\f054';
		    margin-left: 17px;
		    margin-top: -2px;
		}
	}
	&.btn_icon_arrowdown{
		&:after{
			content: '\f054';
		    margin-left: 13px;
		    margin-top: -1px;
		}
	}
}

.btn_type_text{
	font-weight: 700;
	color: $black;
	display: inline-block;

	&:after{
		font-size: 13px;
	}

	&.btn_iconposition_right:after{
    }
    &.btn_iconposition_left:after{
	    transform: rotate(180deg);
    }
    &.btn_iconposition_downleft:after{
	    transform: rotate(90deg);
    }
    &.btn_iconposition_downright:after{
	    transform: rotate(90deg);
    }
    /* text colors */
	&.btn_color_black{
		color: $black;

		&:hover{
			color: darken($black,10%);
		}
	}
	&.btn_color_red{
		color: $red;

		&:hover{
			color: darken($red,10%);
		}
	}
	&.btn_color_green{
		color: $green;

		&:hover{
			color: darken($green,10%);
		}
	}
	&.btn_color_golden{
		color: $golden;

		&:hover{
			color: darken($golden,10%);
		}
	}
	&.btn_color_blue{
		color: $blue;

		&:hover{
			color: darken($blue,10%);
		}
	}

	/* text icon postion left / right */
	&.btn_iconposition_left{
		padding-left: 25px;

		&:after{
	    	left: 0px;
			@include icon;
			margin-left: 2px;
		}
		&:hover{
			&:after{
				left: -3px;
			}
		}
	}
	&.btn_iconposition_right{
		padding-right: 25px;

		&:after{
	    	right: 0px;
			@include icon;
			position: relative;
			line-height: normal;
			top: -1px;
		}
		&:hover{
			&:after{
				right: -3px;
			}
		}
	}
	&.btn_iconposition_downleft{
		padding-left: 25px;

		&:after{
	    	left: 0px;
			@include icon;
			margin-left: 2px;
		}
		&:hover{
			&:after{
				top: 3px;
			}
		}
	}
	&.btn_iconposition_downright{
		padding-right: 25px;

		&:after{
	    	right: 0px;
			@include icon;
			position: relative;
			line-height: normal;
		}
		&:hover{
			&:after{
				top: 3px;
			}
		}
	}
	/* icon type */
	&.btn_icon_arrowleft{
		&:after{
			content: '\f054';
		    margin-left: 7px;
		    margin-top: -2px;
		}
	}

	&.btn_icon_arrowright{
		&:after{
			content: '\f054';
		    margin-left: 17px;
		    margin-top: 0px;
		}
	}
	&.btn_icon_arrowdown{
		&:after{
			content: '\f054';
		    margin-left: 7px;
		    margin-top: -1px;
		}
	}
}




