/*!
Theme Name: compion
Theme URI: http://underscores.me/
Author: Compion
Author URI: http://compion.nl
Description: Het thema van Compion
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: compion
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

compion is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import 'css/_normalize'; 
@import 'css/_clearings';
@import 'css/_var';
@import 'css/_typography';
@import 'css/_forms';
@import 'css/_header';
@import 'css/_iefix';
@import 'css/_navigation';
@import 'css/_theme-stylesheet';


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html{
	line-height: normal;
}

body{
	background: $white;
}

*, *:after, *:before{
	// transition: all .2s ease-in-out;
}

ul, ol{
	padding: 0px;
	margin: 0px;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;  
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: $border-radius;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container{
	width: 100%;
}
.container__innersize__wide,
.container__innersize__small{
	margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

	@include phone{
    	padding-left: 20px;
    	padding-right: 20px;
	}
}
.container__innersize__wide{
	max-width: 1200px;
}
.container__innersize__small{
	max-width: 900px;
}

.with-padding{
	padding-top: 40px;
	padding-bottom: 40px;

	@include phone{
		padding-top: 0px;
		padding-bottom: 40px;
	}
}

.site-content{
	padding-top: 60px;
	position: relative;

	@include tablet{
		padding-top: 0px;
	}
}


.bg_type_fullgradient{
	position:absolute;
	height: 500px;
	width: 100%;
	background: url('https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/vergaderruimte.jpg');
	background-size: cover;
	background-position: center center;
	top: 0;
    z-index: -1;

    .overlay{
    	background: $red-blue-semi;
    	height: 100%;
    	width: 100%;
    	position: absolute;
    }

}

.page-template-page-textpage .entry-content{
	padding-bottom:30px;
	
	p{
		margin-bottom:30px;

	 	a{
			color:  $blue;
		}
	}
}

/*--------------------------------------------------------------
# Front page
--------------------------------------------------------------*/
.ticker{
	background: $red;
	display: block;
    z-index: 999999999;
    position: relative;
    text-align: center;
    padding: 5px 0px 8px;
    font-size: 0.9rem;
    color: $white;
    font-weight: 400;

    @include phone{
    	span{
    		display: none;
    	}
    }

    a, a:visited{
    	margin-left: 20px;
    	color: $white;
    	text-decoration: none;


    	&:hover{
    		text-decoration: underline;
    	}

    	i{
    		margin-left: 8px;
		    top: 10px;
		    position: absolute;
    	}
    }
}

.section_type_homeCases{
	z-index: 2;
	position: relative;
	padding: 30px 0px 60px 0px;
	overflow: hidden;

	.intro{
		padding: 0px 0px 16px 0px;
		margin-bottom: 20px;

		@include tablet{
			padding: 0px 0px 25px 0px;
		}
		@include phone{
			margin-bottom: 0px;
		}
	}

	.column__right{
		padding-top: 120px;	

		@include tablet{
			padding-top: 0px;
		}
		.btn_type_rounded{
			margin-right: 30px;
		}	
	}
	.column__left{
		.card{
			min-height: 350px;

			@include desktop{
				min-height: 275px;
			}
		}
	}

	.card{
		border-radius: $border-radius;
		margin-bottom: 25px;
		display: block;
		text-decoration: none;
		position: relative;
		min-height: 400px;
		margin-bottom: 50px;


		@include desktop{
			min-height: 275px;
		}

		&:hover{
			transition: all .2s ease-in-out;
			
			.case-bg-image-container .case-image{
				transform: scale(1.1);
				border-radius: $border-radius;
			}
			
			.fakebutton{
				right: 2px;
				z-index: 10;

				@include phone{
					display: none;
				}
			}
		}

		*{
			color: white;
			margin: 0px;
			padding: 0px;
			z-index: 3;
			position: relative;
			transition: all .2s ease-in-out;
		}

		.text{
			position: absolute;
			bottom: 30px;
			left: 30px;
			width: 100%;

			@include desktop{
				bottom: 20px;
				left: 20px;
			}

			h3{
				width: 85%;
				font-size: 1.8rem;
			}
		}

		&:after{
			content: '';
			display: inline-block;
			height: 100%;
			width: 100%;
			border-radius: $border-radius;
			top: 0;
			position: absolute;
			z-index: 1;
		    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e1e1d+54,070707+81&0+54,0.5+90 */
		    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(30,30,29,0) 54%, rgba(7,7,7,0.38) 81%, rgba(7,7,7,0.5) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,30,29,0) 54%,rgba(7,7,7,0.38) 81%,rgba(7,7,7,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(30,30,29,0) 54%,rgba(7,7,7,0.38) 81%,rgba(7,7,7,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#80070707',GradientType=0 ); /* IE6-9 */
		}

		.fakebutton{
			width: 56px;
			height: 52px;
			background:url('./images/icons/icon-btn-drop.svg') no-repeat center center;
			position: absolute;
			right: 5px;
			bottom: 0px;
			z-index: 10;

			@include phone{
				display: none;
			}
		}
		.case-bg-image-container{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			border-radius: $border-radius;

			.case-image{
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				position: absolute;

				&.case-brain-fuel{
					background: url('./images/case/BF2.webp');
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.case-vos-opmaat{
					background: url('./images/case/website-home-case-vos.webp');
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.case-de-fakkel{
					background: url('./images/case/Fakkel.webp');
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.case-water-alliance{
					background: url('./images/case/Water-Alliance.webp');
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.case-nissan{
					background: url('./images/case/Nissan-1.webp');
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}

	.quote{
		color: $black;
		padding: 30px;
		border-radius: $border-radius;
		margin-bottom: 25px;
		
		@include phone{
			padding-top: 0px;
		}

		h4{
			color: $green;
		}
	}
}

.no-webp{
	.case-image{
		&.case-brain-fuel{
			background: url('./images/case/BF2.jpg')!important;
			background-repeat: no-repeat;
			background-size: cover!important;
		}
		&.case-vos-opmaat{
			background: url('./images/case/website-home-case-vos.png')!important;
			background-repeat: no-repeat;
			background-size: cover!important;
		}
		&.case-de-fakkel{
			background: url('./images/case/Fakkel.jpg')!important;
			background-repeat: no-repeat;
			background-size: cover!important;
		}
		&.case-water-alliance{
			background: url('./images/case/Water-Alliance.jpg')!important;
			background-repeat: no-repeat;
			background-size: cover!important;
		}
		&.case-nissan{
			background: url('./images/case/Nissan-1.jpg')!important;
			background-repeat: no-repeat;
			background-size: cover!important;
		}
	}
}

.section_clientLogo{
	padding: 20px 0px 50px 0px;

	.clientlogoBlock{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		.clientlogoBlock__item{
			width: 16%;
			border: 1px solid $offwhite;
			border-radius: 5px;
			padding: 20px 20px;
			display: inline-block;
			box-sizing: border-box;
			position: relative;
		    height: 130px;
		    text-align: center;  
		    display: flex;
			align-items: center;
			justify-content: center;

			@include desktop{
				width: 32%;
				margin-bottom: 30px;
			}
			@include tablet{
				width: 48%;
			}

			img{
				max-height: 90px;
			    margin-left: auto;
			    margin-right: auto;
			    max-width: 100%;
			}

			.clientlogoBlock__item__link{
				position: absolute;
				height: 27px;
				width: 27px;
			    bottom: -14px;
			    right: 7px;
			    background: $blue;
			    text-align: center;
			    color: $white;
			    border-radius: 20px;
				transition-property: all;
				transition-duration: 0.3s;

			    i{
			    	line-height: 27px;
			    	margin-left: 2px;
			    }
			}
		}
		a.clientlogoBlock__item:hover{
			border-color: $blue;

			.clientlogoBlock__item__link{
		    	width: auto;
		    	padding-left: 10px;
		    	padding-right: 10px;
		    	
		    	&:before{
		    		content: 'Case';
		    		margin-right: 8px;
		    	}
		    }
		}
	}
}

.section_type_homeAbout{
	padding: 20px 0px 70px 0px;

	@include phone{
		padding: 40px 0px 30px 0px;
	}

	.column__left{
		border-radius: $border-radius;
		background-image: url('./images/team-homepage.webp');
		background-size:cover;
		background-position: center center;
		position: relative;
		display: flex;
		justify-content: center; 
		align-items: center;
		overflow: hidden;
		text-align: center;

		span.homeQuote{
			position: relative;
			z-index: 2;
			color: $white;
			width: 83%;
			font-size: 2.3rem;
			clear: both;
		    font-weight: 700;
		    margin: 0px 0px 20px 0px;
		    padding: 0px;
		    font-family: sofia-pro, sans-serif;

			@include phone{
				padding-top: 10px;
			}
		}
	}
}

/*      NO WEBP support     */
.no-webp .section_type_homeAbout .column__left{
	background-image: url('./images/team-homepage.png');
}
/*--------------------------------------------------------------
# Clients Grid
--------------------------------------------------------------*/
.section_type_clients{
	background-color: $offwhite;

	.clients{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.client{
			background: $white;
			width: 25%;
		    height: 140px;
		    margin-bottom: 0%;
		    text-align: center;
		    position: relative;
		    padding: 19px;
		    box-sizing: border-box;
		    align-items: center;
		    display: flex;
		    border: 1px solid $offwhite;

			img{
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

/*--------------------------------------------------------------
# Cases Grid
--------------------------------------------------------------*/
.section_type_cases{
	padding-top:0px;
	padding-bottom:40px;

	p.intro{
		width: 50%;
		left: 0;
	}
}

.blogContainer h2.case__payoff{
	max-width: 1200px;
    text-align: center;
    margin-bottom: 45px;
    color: $red;

    @media screen and (max-width: 1200px){
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 0px;
    	padding-top: 35px;	
    }
    @include tablet{
    	text-align: left;
    	padding-left: 40px;
    	padding-right: 40px;
    }
}
.cta__block{
	max-width: 600px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 50px auto;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	border-radius: $border-radius;

	@include phone{
		padding-left: 0px;
		padding-right: 0px;
		max-width: 100%;
		margin: 20px auto 0px auto;
	}

	.cta__left{
		width: 220px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

		@include phone{
			display: none;
		}

		.cta__image{
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		    display: inline-block;
		    width: 100%;
		    height: 100%;
		}

	}
	.cta__right{
		padding: 25px 25px;
		background-color: $offwhite;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		@include phone{
			padding: 40px 25px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		h3{
			margin-top: 0px;
			padding-top: 0px;
			margin-bottom: 5px;
			color: $red;
			text-transform: none;
		}
		span{
			display: block;
			padding-bottom: 20px;
		}
		a.btn_type_rounded{
			margin-bottom: 0px;
		}
		a.btn_type_text{
			margin-left: 20px;
			margin-top: 15px;
		}
	}
}

/*--------------------------------------------------------------
# Case Single
--------------------------------------------------------------*/
.post-template-single-case{
	.blogContainer{

		.entry-content{
			padding-top: 40px;
		}

		.case__image{
			max-width: 100%;
			border-radius: $border-radius;
			display: inline-block;

			img{
				max-width: 100%;
				border-radius: $border-radius;
			}
		}
		.case__logo{
			max-width: 200px;
			max-height: 75px;
			text-align: left;
		}

		h6{
			color: $black;
		}
		h1{
			margin-bottom: 20px;
		}
		h2{
			padding-top: 0px;
			padding-bottom: 15px;

			&.case__payoff{
				margin-top: 50px;
			}
		}
		.wp-block-columns.has-2-columns, .wp-block-media-text, .wp-block-table{
			@media screen and (max-width: 900px){
			    padding-left: 0px;
			    padding-right: 0px;
			}
		}
		.wp-block-column, .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n){
			@include tablet{
				flex-basis: 100%;
				margin-left: 0px;
			}
		}
	}
}

body.page-template-page-ons-werk{
	.entry-content{
		padding-bottom: 0px;
	}
}

.alm-load-more-btn.done{
   display: none;
}

/*--------------------------------------------------------------
# Articles Grid
--------------------------------------------------------------*/
body.blog, body.home, body.archive, body.page-template-page-ons-werk, body.single-post{
	.contentGrid, .alm-reveal {
		margin: 0px auto;
		display: grid;
		display: -ms-grid;
		-ms-grid-columns:1fr 50px 1fr;
		grid-template-columns:1fr 1fr;
		grid-gap:20px 50px;

		*:nth-child(1){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		*:nth-child(2){
			-ms-grid-row: 1;
			-ms-grid-column: 3;
		}
		*:nth-child(3){
			-ms-grid-row: 2;
			-ms-grid-column: 1;
		}
		*:nth-child(4){
			-ms-grid-row: 2;
			-ms-grid-column: 3;
		}
		*:nth-child(5){
			-ms-grid-row: 3;
			-ms-grid-column: 1;
		}
		*:nth-child(6){
			-ms-grid-row: 3;
			-ms-grid-column: 3;
		}

		@include tablet{
			-ms-grid-columns:1fr;
			grid-template-columns:1fr;
			grid-gap:50px;

			*:nth-child(1){
				-ms-grid-row: 1;
				-ms-grid-column: 1;
			}
			*:nth-child(2){
				-ms-grid-row: 2;
				-ms-grid-column: 1;
			}
			*:nth-child(3){
				-ms-grid-row: 3;
				-ms-grid-column: 1;
			}
			*:nth-child(4){
				-ms-grid-row: 4;
				-ms-grid-column: 1;
			}
			*:nth-child(5){
				-ms-grid-row: 5;
				-ms-grid-column: 1;
			}
			*:nth-child(6){
				-ms-grid-row: 6;
				-ms-grid-column: 1;
			}
		}

		article {
			background-color: $white;
			display: inline-block;
			margin: 0 0 0em;
			width: 100%;
			position: relative;
			line-height: 0;
			border-radius: $border-radius;
			height: 400px;
			background-size: cover;
			background-position: center center;
			transition: all .2s ease-in-out;


			@include desktop{
				height: 275px;
			}
			@include tablet{
				margin-top: 15px;
				margin-bottom: 15px;
			}

			&:hover{
				transition: all .2s ease-in-out;

				.fakebutton{
					right: -54px;
					transition: all .2s ease-in-out;

					@include phone{
						display: none;
					}
				}

				.blog-bg-image{
					transform: scale(1.1);
					border-radius: $border-radius;
				}


			}
			.entry-header{
				overflow: hidden;
				width: 100%;
				height: 100%;
				position: relative;
				border-radius: $border-radius;

				.blog-bg-image{
					width: 100%;
					height: 100%;
					position: absolute;
					background-size: cover;
					background-position: center center;
					border-radius: $border-radius;
					transition: all .4s ease-in-out;
				}
			}


			&:nth-of-type(odd){
				margin-top: 50px;

				@include tablet{
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}

			&:nth-of-type(even){
				margin-bottom: -50px;
				position: relative;

				@include tablet{
					margin-bottom: 15px;
					margin-top: 15px;
				}
			}
			

			h2{
				color: $white;
				margin-bottom: 0px;
				padding-top: 0px;
			}
			
			.entry-content{
				position: absolute;
			    bottom: 25px;
			    z-index: 99999;
			    left: 25px;
			    width: calc(100% - 50px);
			    color: $white;
			    padding-bottom: 0px;

			    @include desktop{
			    	bottom: 20px;
			    	left: 20px;
			    }

			    span.archive-content-title{
					clear: both;
					font-weight: $weightBold;
					padding: 0px;
					font-family: sofia-pro, sans-serif;
					color: $white;
					font-size: 1.8rem;
					line-height: 1.2;
					display: block;
				}
			}
			
			.entry-meta{
				margin-bottom: 10px;
				padding: 0px 0px;
			}
			
			.fakebutton{
				width: 56px;
				height: 52px;
				background:url('./images/icons/icon-btn-drop.svg') no-repeat center center;
				position: absolute;
				right: -50px;
				bottom:7px;
				transition: all .2s ease-in-out;

				@include phone{
					display: none;
				}
			}
			.tags{

				&.red:hover{
					background: $red;
					cursor: pointer;
				}
				&.green:hover{
					background: $green;
					cursor: pointer;
				}
			}
		}

		.article:nth-of-type(4n+1) { order: 1; }
		.article:nth-of-type(4n+2) { order: 2; }
		.article:nth-of-type(4n+3) { order: 3; }
		.article:nth-of-type(4n)   { order: 4; }
	}

	.interestingContent{
		border-radius: $border-radius;
	}
}

.alm-btn-wrap{
	padding-top: 30px;
	text-align: center;
}
.column{
	display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include tablet {
		display: block;
	}

	.column__left{
		width: 48%;

		@include tablet {
			width: 100%;
			min-height: 200px;
			margin-bottom: 25px;
		}

		@include phone{
			min-height: 130px;
			margin-bottom: 25px;
		}
	}
	.column__right{
		width: 48%;

		@include tablet {
			width: 100%;
			min-height: 200px;
		}
	}

	.column__oneThird{
		width: 34%;

		@include tablet {
			width: 100%;
		}
	}

	.column__twoThird{
		width: 60%;

		@include tablet {
			width: 100%;
		}
	}
}


section.section_type_intro{
	padding-top: 40px;
	padding-bottom:20px;
	z-index: 2;
	position: relative;

	@include phone{
		padding-top: 20px;
	} 

	img{
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

body.single-post{
	.yarpp-related{
		margin-bottom: 0px;
	}
	.yarpp-container{
		padding-top: 50px;
		padding-bottom: 20px;
		background: #F9F9F9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin: 40px 0px 0px 0px;

		@include phone{
			padding-top: 30px;
		}
		h3{
			margin-bottom: 30px;
			text-transform: none;
		}
		article{
			height: 285px;

			&:nth-of-type(odd) {
			    margin-top: 0px;
			}

			.fakebutton{
				right: -47px;
				width: 42px;
				height: 40px;
				background-size: cover;
				bottom: 15px;
			}
			.entry-content{
				bottom: 10px;
				left: 23px;

				h3{
					font-size: 1.5rem;
					margin-bottom: 0px;
					color: white;
				}
			}
		}
	} 
}

/*--------------------------------------------------------------
# Photostroke
--------------------------------------------------------------*/
.section_type_photostroke{
	.photostroke{
	}
}

/*--------------------------------------------------------------
# Manifest
--------------------------------------------------------------*/
section.section_type_manifest{
	padding-bottom: 45px;

	@include phone {
		padding-bottom: 0px;
	}

	.column__right{
		padding-top:60px;

		@include phone {
			padding-top: 0px;
		}
	}

	.manifest_type_text{
		min-height: 200px;
		width: 100%;
		margin-bottom: 2%;
		display: inline-block;
		text-align: justify;

		@include phone{
			min-height: 10px;
			margin-bottom: 9%;
		}

		h3{
			padding: 30px 0px 10px 0px;
			color: $black;
			font-size: 1.8rem;
			text-align: center;

			@include phone {
				padding-top: 0px;
				padding-bottom: 0px;
			}

			span{
				display: block;

				@include phone {
					display: inline-block;
				}

				&.red{
					color: $red;
				}
				&.blue{
					color: $blue;
				}
				&.green{
					color: $green;
				}
				&.golden{
					color: $golden;
				}
			}
		}
		p{
			padding: 0px 0px 30px 0px;

			@include phone {
				padding-bottom: 0px;
			}
		}
	}
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
section.teamSection{
	background: $offwhite;
	padding-top: 70px;
}
div.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
	padding-top:40px;
	padding-bottom:50px;

	.team__member{
		width: 46%;
		margin-bottom: 30px;
		position: relative;
		border-radius: $border-radius;

		&:nth-child(2n){
			margin-top: -40px;

			@include media(650px){
				margin-top: 0px;
			}
		}
		@include desktop {
			width: 49%;
		}

		@include media(650px){
			width: 100%;
		}

		.team__member__photo{
			height: 400px;
			position: relative;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			overflow: hidden;

			.photostate__default{
				transition: opacity 0.2s cubic-bezier(0, 1, 0.5, 1);
				opacity: 1;
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 6;
			}
			.photostate__hover{
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 5;
			}

			.team__member__photo__overlay{
				width: 100%;
				position: absolute;
				height: 100%;
				z-index: 25;
				top: 400px;
				transition-property: all;
				transition-duration: 1.0s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			}
			.team__member__photo__quote{
				position: absolute;
			    z-index: 30;
			    color: $white;
			    top: 400px;
			    font-size: 1.3rem;
			    width: calc(100% - 60px);
			    height: 100%;
				transition-property: all;
				transition-duration: 2.0s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

				span{
					bottom: 30px;
					left: 30px;
					position: absolute;
				}
			}
		}
		.team__member__info{
			padding:15px 25px 20px 25px;	
			background: $white;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			.teamTitle{
				color: $green;
			    -webkit-margin-before: 0em;
	    		-webkit-margin-after: 0em;
	    		clear: both;
			    font-weight: 700;
			    margin: 0px 0px 20px 0px;
			    padding: 0px;
			    font-family: sofia-pro, sans-serif;
			    font-size: 1.5rem;
    			line-height: 1.25;
			}
			.underTitle{
				width: 100%;
				display: block;
				margin-top: 5px;
				opacity: 0.85;
				margin-bottom: 20px;
			}
			a.team__member__info__contact{
				color: $black;
				margin-right: 15px;

				&:hover{
					color: $blue;
				}

			}
			a.teamTel{
				display: block;
			}

			a.team__member__info__social{
				float: right;
				display: inline-block;
				margin-left: 6px;
				color: $green;
				text-decoration: none; 
				border: 1px solid #e9e9e9;
    			padding: 1px 6px;
    			border-radius: 2px;

				&:hover{
					color: $red;
					border: 1px solid $red;
				}
			}
		}
		&.psst{
			width: 65%;
			margin-left: auto;
			margin-right: auto;
			height: 250px;
			padding: 0px 0px 0px 0px;

			.team__member__photo{
				height: 100%;
			}
			.team__member__photo__overlay{
				top: 0px;
				z-index: 15;
			}
			.team__member__info{
				background: transparent;
				position: absolute;
				bottom: 30px;
				z-index: 20;
				color: $white;
				width: calc(100% - 60px);

				h3{
					color: $white;
				}
				a.btn{
					position: absolute;
					right: -40px;
					width: 60px;
					height: 60px;
					bottom: 20px;
					background: $golden;
				}
			}
		}

		&:hover{

			.photostate__default{
				opacity: 0;
			}
			.team__member__photo__overlay{
				top: 0px!important;
				transition-property: all;
				transition-duration: 0.5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			}
			.team__member__photo__quote{
				height: 400px!important;
				top: 0px!important;
				transition-property: all;
				transition-duration: 1.4s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			}
		}

		&.gk{
			.photostate__default{
				background-image: url(./images/team/compion-geert-1.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-geert-hover.jpg');
				@include backgroundCover;
			}
		}
		&.kr{
			.photostate__default{
				background-image: url(./images/team/compion-karinus-1.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-karinus-hover.jpg');
				@include backgroundCover;
			}
		}
		&.htk{
			.photostate__default{
				background-image: url(./images/team/compion-heleen.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-heleen-hover.jpg');
				@include backgroundCover;
			}
		}
		&.ef{
			.photostate__default{
				background-image: url(./images/team/compion-erik.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-erik-hover.jpg');
				@include backgroundCover;
			}
		}
		&.wdg{
			.photostate__default{
				background-image: url(./images/team/compion-wilmer.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-wilmer-hover.jpg');
				@include backgroundCover;
			}
		}
		&.ft{
			.photostate__default{
				background-image: url(./images/team/compion-fenna.png);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-fenna-hover.png');
				@include backgroundCover;
			}
		}
		&.aw{
			.photostate__default{
				background-image: url(./images/team/compion-anne.png);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-anne-hover.png');
				@include backgroundCover;
			}
		}
		&.jv{
			.photostate__default{
				background-image: url(./images/team/compion-judith.jpg);
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('./images/team/compion-judith-hover.jpg');
				@include backgroundCover;
			}
		}
		&.alien{
			.photostate__default{
				background-image: url('https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/lopenddoorkantoor.jpg');
				@include backgroundCover;
			}
			.photostate__hover{
				background-image: url('https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/overlegvergaderzaal.jpg');
				@include backgroundCover;
			}
		}
	}
}

/*--------------------------------------------------------------
# Instagram
--------------------------------------------------------------*/
.section_insta{
	padding-top: 60px;
	padding-bottom: 60px;

	p{
		width: 50%;

		@include phone{
			width: 100%;
		}
	}
}

/*--------------------------------------------------------------
# Expertise
--------------------------------------------------------------*/
.section_type_expertise{
	padding-top: 60px;
	padding-bottom: 60px;

	.container__innersize__wide{
		margin-bottom: 100px;

		@include phone{
			margin-bottom: 50px;
		}
	}

	.concept{
		.column__left{
			background: url('./images/brainstorm.jpg');
			@include backgroundCover;
			border-radius: $border-radius;
			min-height: 350px;
			align-items:center;

			@include phone{
				min-height: auto;
				height: 225px;
				margin-bottom: 20px;
			}
		}
	}
	.realisatie{
		.column__right{
			background: url('./images/optimalisatie.jpg');
			@include backgroundCover;
			border-radius: $border-radius;
			min-height: 350px;

			@include tablet{
				display: none;
			}
		}
	}
	.optimalisatie{
		.column__left{
			background: url('./images/wilmer-focus2.jpg');
			@include backgroundCover;
			border-radius: $border-radius;
			min-height: 350px;

			@include phone{
				min-height: auto;
				height: 225px;
				margin-bottom: 20px;
			}
		}
	}
	ul{
		list-style-type: none;
		padding-left: 0px;
		margin-left: 0px;
	    padding-inline-start: 0px;
	    columns: 2;    
	    margin-top: 35px;

	    @include desktop{
	    	columns: 1;
	    }

	    li{
	    	color: $black;
	    	font-weight: $weightBold;
	    	margin-bottom: 10px;

	    	a{
		    	font-weight: $weightBold;
		    	color: $blue;
	    	}
	    }
	}
}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.wp-block-gallery{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width:1200px){
		padding-left: 20px;
    	padding-right: 20px;
	}
}

div.section_blog{
	padding-bottom: 50px;
}
.blogContainer{
	max-width: 1000px;
	margin: 0px auto;

	h1, h2, h3, h4, h5, h6, p, ul, blockquote, figure, pre{
		max-width: 600px;
		margin: 0px auto;
	}
	ul.wp-block-gallery{
		max-width: 1200px;

		@media screen and (max-width:1200px){
			padding-left: 20px;
	    	padding-right: 20px;
		}
	}

	table{
		max-width: 1200px;

		td{
			padding: 10px;
			border: 1px solid grey;
		}
	}
	h1{
		padding-top: 15px;
		margin-bottom: 15px;
	}
	h2, h3, h4, h5, h6{
		padding-top: 40px;
	}

	.thumbnail{
		border-radius: $border-radius;
		height: 400px;
		background-size: cover;
		background-position: center center;

		@include phone{
			height: 225px;
		}
	}

	.post-thumbnail img{
		max-width: 1000px;
		height: auto;
		margin: 0px auto;
	}

	p, ul, ol, blockquote, figure, pre{
		margin-bottom: 20px;
	}
	p a{
		color: $blue;
	}
	.entry-content{
		padding-bottom: 0px;
	}
	.entry-meta-top{
		margin-top: 10px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 0px 0px 0px;
	}
	.entry-meta{
	    margin-bottom: 50px;

	    .entry-meta-inner{
			background: #f9f9f9;
		    padding-top: 20px;
		    padding-bottom: 30px;
		    border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
	    }

		.tags{
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}

	.wp-block-columns.has-2-columns, .wp-block-media-text, .wp-block-table{
		max-width: 1000px;
		margin: 0px auto;
		display: flex!important;
	}

	.wp-block-columns.has-3-columns{
		max-width: 1000px;
		margin: 0px auto;
	}

	.wp-block-file{
		max-width: 560px;
		margin: 0px auto;
		background: $offwhite;
		padding: 20px;
		margin-bottom: 20px;
	}

	.wp-block-media-text{
		background: $offwhite;
		margin-bottom: 20px;
		border-radius: $border-radius;
		overflow: hidden;

		*{
			color: white;
		}

		&:nth-of-type(even){
			background: $yellow-blue-full;
		}
		&:nth-of-type(odd){
			background: $red-green-full;
		}
	}


	.wp-block-columns {
		display: grid;
		display: -ms-grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		row-gap: 20px;
		
		@media screen and (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;
			-ms-grid-columns: 1fr 20px 1fr;
		}
		
		&.has-3-columns {
			@media screen and (min-width: 1300px) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 0;
			-ms-grid-columns: (1fr)[3];
			}
		}

		&.has-4-columns {
			@media screen and (min-width: 1300px) {
				grid-template-columns: repeat(4, 1fr);
				row-gap: 0;
				-ms-grid-columns: (1fr)[4];
			}
		}
	}
}
.entry-header.container__innersize__small h1{
	width: 50%;

	@include phone{
		width: 100%;
	}
}
.wp-block-columns.has-2-columns, .wp-block-media-text, .wp-block-table{
	max-width: 900px;
	margin: 0px auto;
	display: flex!important;

	@media screen and (max-width:900px){
		padding-left: 20px;
    	padding-right: 20px;
	}
}


/*--------------------------------------------------------------
# TAG pages
--------------------------------------------------------------*/

body.tag{

	h1{
		margin-bottom: 40px;
	}
	.ajax-load-more-wrap{
		padding-top: 10px;
	}
	.tag-content{
		width: 60%;
		margin-bottom: 30px;

		@include phone{
			width: 100%;
		}

		.cta__block{
			margin-left: 0px;
		}
	}
	.tagContentBlock{
		margin-bottom: 60px;
	}

	.productBlock{
		background: $offwhite;
		border-radius: $border-radius;
		padding: 20px;
		box-sizing: border-box;

		h3{
			color: $red;
		}

		ul.tag-product-usp{
		    margin-block-start: 0em;
		    margin-block-end: 0em;
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
		    padding-inline-start: 0px;
		    list-style-type: none;

		    li{
		    	padding-left: 29px;
		    	margin-bottom: 10px;

		    	&:before{
		    		content: '\f00c';
		    		font-family: 'FontAwesome';
		    		margin-left: -29px;
		    		margin-right: 8px;
		    		color: $green;
		    	}
		    }
		}
		.cta__block{
			margin: 25px auto;
			padding-right: 0px;
			padding-left: 0px;

			.cta__left{
				width: 120px;

				.cta__image{
					display: block;
					width: 90px;
					height: 90px;
					border-radius: 50%;
					margin-right: 10px;
				}
			}
			.cta__right{
				padding: 0px;
			}
		}
	}

}



/*--------------------------------------------------------------
# Footers
--------------------------------------------------------------*/
footer{
	background: $black;

	*{
		color: $white;
	}

	.footerDetails{
		display: grid;
		display: -ms-grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
		-ms-grid-rows: 1fr; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr;
		grid-gap:20px;
		color: $white;
		padding-top: 80px;
		padding-bottom: 50px;
		position: relative;
		z-index: 99;

		*:nth-child(1){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		*:nth-child(2){
			-ms-grid-row: 1;
			-ms-grid-column: 3;
		}
		*:nth-child(3){
			-ms-grid-row: 1;
			-ms-grid-column: 5;
		}
		*:nth-child(4){
			-ms-grid-row: 1;
			-ms-grid-column: 7;
		}

		@include tablet {
			grid-template-columns: 1fr 1fr;
			-ms-grid-columns: 1fr 1fr;

			*:nth-child(1){
				-ms-grid-row: 1;
				-ms-grid-column: 1;
			}
			*:nth-child(2){
				-ms-grid-row: 1;
				-ms-grid-column: 3;
			}
			*:nth-child(3){
				-ms-grid-row: 2;
				-ms-grid-column: 1;
			}
			*:nth-child(4){
				-ms-grid-row: 2;
				-ms-grid-column: 3;
			}
		}

		@include phone {
			grid-template-columns: 1fr;
			-ms-grid-columns: 1fr;
			padding-top: 50px;
			padding-bottom: 30px;

			*:nth-child(1){
				-ms-grid-row: 1;
				-ms-grid-column: 1;
			}
			*:nth-child(2){
				-ms-grid-row: 2;
				-ms-grid-column: 1;
			}
			*:nth-child(3){
				-ms-grid-row: 3;
				-ms-grid-column: 1;
			}
			*:nth-child(4){
				-ms-grid-row: 4;
				-ms-grid-column: 1;
			}
		}
		h5{
			color: $red;
		}

		p{
			font-size: 14px;
		}

		img.footerLogo{
			max-width: 200px;
		}
	}
	.copyright{
		display: flex;
		justify-content:space-between;
		background: $black;
		opacity: 0.5;
		font-size: 12px;
		padding-top: 15px;
		padding-bottom: 15px;

		@include tablet{
			display: block;
			text-align: center;
		}

		#copyright-menu{
			text-align: right;
			display: flex;

			@include tablet{
				display: block;
				width: 100%;
				text-align: center;
			}
			
			ul{
				display: flex;

				@include tablet{
					display: inline-block;
				}

				li{
					list-style: none;
					margin-left: 20px;
				}
			}
		}
	}
}
/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
 .ctaBlock{
 	padding-top: 30px;
 	background: $blue-green-semi; 

 	h1{
 		color: $white;
 		text-align: center;
 	}
 }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.section_type_contactCrystalic{
	padding: 100px 0px;

	@include desktop{
		padding: 50px 0px;
	}
	@include phone{
		padding: 20px 0px;
	}

	img{
		width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

.section_type_contactOther{
	padding: 0px 0px 100px 0px;

	@include phone{
		padding-bottom: 50px;
	}

	img{
		margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
		height: auto;
		border-radius: $border-radius;


	}
}







