/*!
Theme Name: compion
Theme URI: http://underscores.me/
Author: Compion
Author URI: http://compion.nl
Description: Het thema van Compion
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: compion
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

compion is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@import url("https://use.typekit.net/dti2bhh.css");html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none;max-width:100%;height:auto}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.gradient_color_blue-green-full{background:linear-gradient(135deg, #00b4ff 0%, #008a80 100%)}.gradient_color_yellow-green-full{background:linear-gradient(135deg, #fabb5a 0%, #008a80 100%)}.gradient_color_red-blue-full{background:linear-gradient(135deg, #e43260 0%, #1e5799 100%, #00b4ff 100%)}.gradient_color_red-green-full{background:linear-gradient(135deg, #e43260 0%, #008a80 100%, #00b4ff 100%)}.gradient_color_yellow-red-full{background:linear-gradient(135deg, #00b4ff 0%, #fabb5a 0%, #e43260 100%)}.gradient_color_yellow-blue-full{background:linear-gradient(135deg, #00b4ff 0%, #fabb5a 0%, #00b4ff 100%)}.gradient_color_blue-green-semi{background:linear-gradient(135deg, rgba(0,180,255,0.7) 0%, rgba(0,138,128,0.9) 100%)}.gradient_color_yellow-green-semi{background:linear-gradient(135deg, rgba(250,187,90,0.7) 0%, rgba(0,138,128,0.9) 100%)}.gradient_color_red-blue-semi{background:linear-gradient(135deg, rgba(228,50,96,0.7) 0%, #1e5799 100%, rgba(0,180,255,0.7) 100%)}.gradient_color_red-green-semi{background:linear-gradient(135deg, rgba(228,50,96,0.7) 0%, #008a80 100%, rgba(0,180,255,0.7) 100%)}.gradient_color_yellow-red-semi{background:linear-gradient(135deg, rgba(0,180,255,0.7) 0%, rgba(250,187,90,0.7) 0%, #e43260 100%)}.gradient_color_yellow-blue-semi{background:linear-gradient(135deg, rgba(0,180,255,0.7) 0%, rgba(250,187,90,0.8) 0%, rgba(0,180,255,0.9) 100%)}.tags{border-radius:10px;font-weight:400;display:inline-block;padding:4px 10px 5px;line-height:normal;color:#fff;font-size:0.9rem;text-decoration:none}.tags.red{background:#E43260;margin-right:5px}.tags.red:hover{background:#c91a47}.tags.green{background:#008A80;margin-right:5px}.tags.green:hover{background:#007168}.verticalImage{margin-top:30%}@media screen and (max-width: 767px){.verticalImage{margin-top:20px}}.btn{position:relative;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);text-decoration:none;display:inline-block;line-height:normal}.btn:hover{cursor:pointer}.btn_type_rounded,.wp-block-button{border-radius:50px;font-weight:700;padding:13px 25px 15px 25px;display:inline-block;margin-bottom:20px;font-size:1rem;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.btn_type_rounded:after,.wp-block-button:after{top:13px;height:30px;width:35px}.btn_type_rounded.btn_iconposition_right:after,.wp-block-button.btn_iconposition_right:after{background:url("./images/icon-bg-drop.svg");background-repeat:no-repeat}.btn_type_rounded.btn_iconposition_left:after,.wp-block-button.btn_iconposition_left:after{background:url("./images/icon-bg-drop.svg");background-repeat:no-repeat;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.btn_type_rounded.btn_iconposition_downleft:after,.wp-block-button.btn_iconposition_downleft:after{background:url("./images/icon-bg-drop.svg");background-repeat:no-repeat;-webkit-transform:rotate(90deg);transform:rotate(90deg)}.btn_type_rounded.btn_iconposition_downright:after,.wp-block-button.btn_iconposition_downright:after{background:url("./images/icon-bg-drop.svg");background-repeat:no-repeat;-webkit-transform:rotate(90deg);transform:rotate(90deg)}.btn_type_rounded.btn_color_red,.wp-block-button.btn_color_red{background:#E43260;color:#fff}.btn_type_rounded.btn_color_red:hover,.wp-block-button.btn_color_red:hover{background:#c91a47}.btn_type_rounded.btn_color_green,.wp-block-button.btn_color_green{background:#008A80;color:#fff}.btn_type_rounded.btn_color_green:hover,.wp-block-button.btn_color_green:hover{background:#005751}.btn_type_rounded.btn_color_golden,.wp-block-button.btn_color_golden{background:#FABB5A;color:#fff}.btn_type_rounded.btn_color_golden:hover,.wp-block-button.btn_color_golden:hover{background:#f9a729}.btn_type_rounded.btn_color_blue,.wp-block-button.btn_color_blue{background:#00B4FF;color:#fff}.btn_type_rounded.btn_color_blue:hover,.wp-block-button.btn_color_blue:hover{background:#0090cc}.btn_type_rounded.btn_iconposition_left,.wp-block-button.btn_iconposition_left{padding-left:64px}.btn_type_rounded.btn_iconposition_left:after,.wp-block-button.btn_iconposition_left:after{left:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px}.btn_type_rounded.btn_iconposition_left:hover:after,.wp-block-button.btn_iconposition_left:hover:after{left:-3px}.btn_type_rounded.btn_iconposition_right,.wp-block-button.btn_iconposition_right{padding-right:64px}.btn_type_rounded.btn_iconposition_right:after,.wp-block-button.btn_iconposition_right:after{right:13px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px}.btn_type_rounded.btn_iconposition_right:hover:after,.wp-block-button.btn_iconposition_right:hover:after{right:10px}.btn_type_rounded.btn_iconposition_downleft,.wp-block-button.btn_iconposition_downleft{padding-left:62px}.btn_type_rounded.btn_iconposition_downleft:after,.wp-block-button.btn_iconposition_downleft:after{left:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px}.btn_type_rounded.btn_iconposition_downleft:hover:after,.wp-block-button.btn_iconposition_downleft:hover:after{top:16px}.btn_type_rounded.btn_iconposition_downright,.wp-block-button.btn_iconposition_downright{padding-right:62px}.btn_type_rounded.btn_iconposition_downright:after,.wp-block-button.btn_iconposition_downright:after{right:13px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px}.btn_type_rounded.btn_iconposition_downright:hover:after,.wp-block-button.btn_iconposition_downright:hover:after{top:16px}.btn_type_rounded.btn_icon_arrowleft:after,.wp-block-button.btn_icon_arrowleft:after{content:'\f054';margin-left:13px;margin-top:-2px}.btn_type_rounded.btn_icon_arrowright:after,.wp-block-button.btn_icon_arrowright:after{content:'\f054';margin-left:17px;margin-top:-2px}.btn_type_rounded.btn_icon_arrowdown:after,.wp-block-button.btn_icon_arrowdown:after{content:'\f054';margin-left:13px;margin-top:-1px}.btn_type_text{font-weight:700;color:#2C2C2B;display:inline-block}.btn_type_text:after{font-size:13px}.btn_type_text.btn_iconposition_left:after{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.btn_type_text.btn_iconposition_downleft:after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.btn_type_text.btn_iconposition_downright:after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.btn_type_text.btn_color_black{color:#2C2C2B}.btn_type_text.btn_color_black:hover{color:#121212}.btn_type_text.btn_color_red{color:#E43260}.btn_type_text.btn_color_red:hover{color:#c91a47}.btn_type_text.btn_color_green{color:#008A80}.btn_type_text.btn_color_green:hover{color:#005751}.btn_type_text.btn_color_golden{color:#FABB5A}.btn_type_text.btn_color_golden:hover{color:#f9a729}.btn_type_text.btn_color_blue{color:#00B4FF}.btn_type_text.btn_color_blue:hover{color:#0090cc}.btn_type_text.btn_iconposition_left{padding-left:25px}.btn_type_text.btn_iconposition_left:after{left:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px;margin-left:2px}.btn_type_text.btn_iconposition_left:hover:after{left:-3px}.btn_type_text.btn_iconposition_right{padding-right:25px}.btn_type_text.btn_iconposition_right:after{right:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px;position:relative;line-height:normal;top:-1px}.btn_type_text.btn_iconposition_right:hover:after{right:-3px}.btn_type_text.btn_iconposition_downleft{padding-left:25px}.btn_type_text.btn_iconposition_downleft:after{left:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px;margin-left:2px}.btn_type_text.btn_iconposition_downleft:hover:after{top:3px}.btn_type_text.btn_iconposition_downright{padding-right:25px}.btn_type_text.btn_iconposition_downright:after{right:0px;font-family:'Font Awesome 5 Free';position:absolute;text-align:center;vertical-align:middle;background-repeat:no-repeat;line-height:30px;position:relative;line-height:normal}.btn_type_text.btn_iconposition_downright:hover:after{top:3px}.btn_type_text.btn_icon_arrowleft:after{content:'\f054';margin-left:7px;margin-top:-2px}.btn_type_text.btn_icon_arrowright:after{content:'\f054';margin-left:17px;margin-top:0px}.btn_type_text.btn_icon_arrowdown:after{content:'\f054';margin-left:7px;margin-top:-1px}html{font-size:14px;line-height:0px}@media (min-width: 800px){html{font-size:16px}}@media (min-width: 1140px){html{font-size:16px}}body,button,input,select,optgroup,textarea{font-size:1rem;font-family:sofia-pro, sans-serif;font-display:auto;font-weight:300;color:#2C2C2B;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}b,strong{font-weight:700}h1,h2,h3,h4,h5,h6{clear:both;font-weight:700;margin:0px 0px 20px 0px;padding:0px;font-family:sofia-pro, sans-serif;font-display:auto;color:#008A80}h1{font-size:2.2rem;line-height:1.2;font-weight:900}h1 span.small{font-size:1.8rem;font-weight:300;display:block;color:#2C2C2B}h1 .sub-title{font-weight:300;font-size:1.2rem;color:#2C2C2B}@media screen and (max-width: 480px){h1{font-size:1.8rem}}h2{font-size:1.8rem;line-height:1.2;display:block}h2 span.small{font-size:1.4rem;font-weight:300;display:block;color:#2C2C2B}h3{font-size:1.5rem;line-height:1.25}h3.subTitle{margin:0px;padding:0px;color:#2C2C2B;font-weight:300;font-size:1.2rem}h4{font-size:1.3rem;line-height:1.1;font-weight:700}h5{font-size:0.9rem;line-height:1}h6{font-size:1rem;text-transform:uppercase}p{line-height:1.5}p.p_type_sectionintro{width:50%;display:block}@media screen and (max-width: 480px){p.p_type_sectionintro{width:100%}}span.sub-title{font-size:1.0rem}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em;font-style:italic}blockquote cite{font-weight:700}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch", Courier, monospace;font-display:auto;font-size:15px;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-display:auto;font-size:15px;font-size:0.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:0px solid;border-radius:0px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:0.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{border:1px solid #ccc;border-radius:0px;padding:10px;width:90%}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:blue}select{border:1px solid #ccc}textarea{width:90%}label{font-size:1.1rem}.siteHeader{display:-ms-grid;display:grid;-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr;-ms-grid-rows:1fr;grid-template-rows:1fr;grid-template-areas:". .";min-height:60px}.siteHeader *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}.siteHeader *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2}@media screen and (max-width: 767px){.siteHeader{min-height:140px;background:url("./images/header-small-bow.svg");background-size:cover;background-repeat:no-repeat;height:140px;background-position-y:-12px}}@media screen and (max-width: 480px){.siteHeader{background:url("./images/header-small-bow.svg");background-size:174%;background-repeat:no-repeat;height:115px;background-position-y:-15px}}@media screen and (max-width: 1024px){.siteHeader{grid-template-columns:2fr 1fr;-ms-grid-columns:2fr 1fr}}.siteHeader .siteHeader__left{position:relative}.siteHeader .siteHeader__left .siteHeader__left__defaultbackground{position:absolute;height:200px;width:100%;top:-30px;right:0px;background:url("./images/header-small-bow.svg");background-size:cover;background-repeat:no-repeat;background-position:right bottom}@media screen and (max-width: 767px){.siteHeader .siteHeader__left .siteHeader__left__defaultbackground{background:transparent}}@media screen and (max-width: 480px){.siteHeader .siteHeader__left .siteHeader__left__defaultbackground{height:115px}}.siteHeader .siteHeader__right{padding-right:70px;position:relative}@media screen and (max-width: 767px){.siteHeader .siteHeader__right{padding-right:0px}}.site-branding{padding-left:70px;margin-top:20px;z-index:999;position:absolute;top:0;left:0}@media screen and (max-width: 1024px){.site-branding{padding-left:20px}}.site-branding a{text-decoration:none;display:inline-block}.site-branding a img{max-height:100%;width:180px;height:auto}.siteHeaderHome{display:-webkit-box;display:flex;-webkit-box-pack:start;justify-content:flex-start;-webkit-box-align:stretch;align-items:stretch;background:#F9F9F9;position:relative}@media screen and (max-width: 1024px){.siteHeaderHome{background:linear-gradient(135deg, rgba(228,50,96,0.7) 0%, #1e5799 100%, rgba(0,180,255,0.7) 100%),url("./images/boyband.webp");background-repeat:no-repeat;background-size:cover, cover;background-position:center center}.siteHeaderHome *{color:white}}@media screen and (max-width: 1024px){.no-webp .siteHeaderHome{background:linear-gradient(135deg, rgba(228,50,96,0.7) 0%, #1e5799 100%, rgba(0,180,255,0.7) 100%),url("./images/boyband.jpg");background-repeat:no-repeat;background-size:cover, cover;background-position:center center}}.siteHeaderHome .siteHeader__left{background:url("./images/header-bubble-left.webp");background-size:cover;background-position:top 25% right;width:57%}@media screen and (max-width: 1024px){.siteHeaderHome .siteHeader__left{display:none}}.siteHeaderHome .siteHeader__left .omk-logo{position:absolute;color:#ffffff;top:550px;left:40px}.no-webp .siteHeaderHome .siteHeader__left{background:url("./images/header-bubble-left.jpg");background-size:cover;background-position:top 25% right}.siteHeaderHome .siteHeader__right{width:42%;position:relative;padding-right:10px;position:rel}.siteHeaderHome .siteHeader__right .btn_type_rounded{margin-right:30px}@media screen and (max-width: 1024px){.siteHeaderHome .siteHeader__right{width:100%}.siteHeaderHome .siteHeader__right p{width:70%}}@media screen and (max-width: 767px){.siteHeaderHome .siteHeader__right{padding-right:0px;position:relative}}@media screen and (max-width: 480px){.siteHeaderHome .siteHeader__right p{width:100%}}.siteHeaderHome .siteHeader__right .text{margin-left:20px;padding-right:70px;width:90%;margin-top:200px;margin-bottom:200px;z-index:99;position:relative}@media screen and (max-width: 1024px){.siteHeaderHome .siteHeader__right .text{margin-left:10px;margin-top:150px;margin-bottom:150px}.siteHeaderHome .siteHeader__right .text .subTitle,.siteHeaderHome .siteHeader__right .text .btn_type_text.btn_iconposition_right{color:white}}.siteHeaderHome .siteHeader__right .text h1,.siteHeaderHome .siteHeader__right .text h2,.siteHeaderHome .siteHeader__right .text h3,.siteHeaderHome .siteHeader__right .text h4,.siteHeaderHome .siteHeader__right .text h5,.siteHeaderHome .siteHeader__right .text h6{line-height:1.1;margin:0px}.siteHeaderHome .siteHeader__right .text h1 .sub-title,.siteHeaderHome .siteHeader__right .text h2 .sub-title,.siteHeaderHome .siteHeader__right .text h3 .sub-title,.siteHeaderHome .siteHeader__right .text h4 .sub-title,.siteHeaderHome .siteHeader__right .text h5 .sub-title,.siteHeaderHome .siteHeader__right .text h6 .sub-title{color:#2C2C2B;line-height:1.1;margin:0;font-weight:300;font-size:1.2rem;display:block}@media screen and (max-width: 1024px){.siteHeaderHome .siteHeader__right .text h1 .sub-title,.siteHeaderHome .siteHeader__right .text h2 .sub-title,.siteHeaderHome .siteHeader__right .text h3 .sub-title,.siteHeaderHome .siteHeader__right .text h4 .sub-title,.siteHeaderHome .siteHeader__right .text h5 .sub-title,.siteHeaderHome .siteHeader__right .text h6 .sub-title{color:#fff}}.bow{background:url("./images/header-bow.png") bottom;background-repeat:no-repeat;background-size:100% 100%;position:absolute;z-index:1;width:100%;height:95px;top:-50px}@media screen and (max-width: 1024px){.bow{top:-90px}}@media screen and (max-width: 1024px){.main-navigation{display:none}}.main-navigation ul{list-style:none;text-align:right;float:right;margin-top:30px}.siteHeaderHome .main-navigation ul{float:left;margin-left:8px}.main-navigation li{display:inline-block;position:relative;padding-left:13px;padding-right:13px}.main-navigation li.menu-highlight a{color:#E43260}.main-navigation li.menu-highlight a:hover{border-bottom:1px solid #E43260}@media screen and (min-width: 1024px) and (max-width: 1200px){.main-navigation li{padding-left:6px;padding-right:6px}}.main-navigation li.menu-item-has-children a:after{content:'';background:url("./images/chevron-down.svg") no-repeat;background-position:center center;display:inline-block;width:14px;height:9px;opacity:0.5}.main-navigation li.menu-item-has-children:hover ul.sub-menu{-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:block}.main-navigation a{text-decoration:none;padding:4px 0px 7px 0px;color:#2C2C2B;font-weight:300;font-size:0.9rem}.main-navigation a:hover{border-bottom:1px solid #2C2C2B}.main-navigation .current_page_item a,.main-navigation .current_page_ancestor a{color:#2C2C2B;font-weight:700}.main-navigation ul.sub-menu{position:absolute;text-align:left;width:220px;display:none;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;height:auto;box-shadow:0 5px 2000px 2000px rgba(0,0,0,0.1);left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.main-navigation ul.sub-menu:after{bottom:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(245,117,32,0);border-bottom-color:#F57520;border-width:10px;margin-left:-10px}.main-navigation ul.sub-menu li{display:block}.main-navigation ul.sub-menu li a{display:block;padding:15px 20px}.main-navigation ul.sub-menu li a:hover{cursor:pointer}.main-navigation ul.sub-menu li a:after{display:none}.main-navigation ul.sub-menu li:last-child a{border-bottom:0px}ul#copyright-menu{list-style:none}ul#copyright-menu li{display:inline-block;margin-right:10px}ul#copyright-menu li a{color:#A7A7A6;text-decoration:none}ul#copyright-menu li a:hover{color:#00B4FF}ul.menu_type_vertical{list-style-type:none}ul.menu_type_vertical li{display:block}.mobile-toggle{background:#008A80;color:white;position:absolute;right:20px;top:20px;z-index:999;padding:10px;border-radius:10px}@media screen and (min-width: 1024px){.mobile-toggle{display:none}}.mobile-toggle:hover{cursor:pointer}.overlay{height:100%;width:0;position:fixed;z-index:99999999;top:0;right:0;background:linear-gradient(135deg, #00b4ff 0%, #008a80 100%);overflow-x:hidden;-webkit-transition:0.5s;transition:0.5s}.overlay-content{position:relative;top:10%;width:100%;text-align:center;margin-top:30px}.overlay a{padding:8px;text-decoration:none;font-size:36px;color:#fff;display:block;-webkit-transition:0.3s;transition:0.3s}.overlay a:hover,.overlay a:focus{color:#f1f1f1}.overlay .closebtn{position:absolute;top:30px;right:20px;font-size:60px;padding:0px;line-height:0;margin:0px}@media screen and (max-height: 450px){.overlay a{font-size:20px}.overlay .closebtn{font-size:40px;top:15px;right:35px}}body.stylesheet{background:#fff !important}.containerStyle{width:50%;margin:60px auto 60px auto}.containerStyle .blockItem{margin-bottom:30px;border-bottom:1px solid #ececec;padding-bottom:30px;padding-left:30px}.containerStyle h1.pagetitle{margin-bottom:30px}.containerStyle h3.blockTitle{margin-bottom:20px;margin-left:-30px;font-weight:900}.containerStyle ul.colorList{list-style-type:none;margin-left:0px}.containerStyle ul.colorList li{display:inline-block;margin-right:20px;text-align:center;color:#afafaf}.containerStyle ul.colorList li div.colorBlock{width:75px;height:75px;display:block;margin-bottom:10px;box-shadow:0px 0px 7px 0px #f2f2f2;border-radius:50%}.containerStyle ul.colorList li div.colorBlock.red{background:#E43260}.containerStyle ul.colorList li div.colorBlock.green{background:#008A80}.containerStyle ul.colorList li div.colorBlock.golden{background:#FABB5A}.containerStyle ul.colorList li div.colorBlock.black{background:#2C2C2B}.containerStyle ul.colorList li div.colorBlock.white{background:#fff}.containerStyle ul.colorList li div.colorBlock.offwhite{background:#F6F1E9}.containerStyle ul span{display:block;color:#afafaf;font-size:0.8rem}.containerStyle ul.normalList{list-style-type:none;margin-left:0px}.containerStyle ul.normalList li{width:250px;margin-right:20px;margin-bottom:40px;display:inline-block;vertical-align:top}.containerStyle ul.normalList li label{display:inline-block;margin-bottom:10px;margin-left:0px !important}.containerStyle ul.normalList li a{margin-bottom:20px}.containerStyle ul.gradientList li{width:200px;margin-right:20px;margin-bottom:40px;display:inline-block;vertical-align:top}.containerStyle ul.gradientList li .gradientBlock{width:200px;height:150px;margin-bottom:10px;position:relative}.containerStyle ul.gradientList li .gradientBlock .gradientPhotoBg{background:url("https://www.onlinemediakoffer.nl/wp-content/uploads/2017/03/joostaanhetwerk.jpg");background-size:cover;position:absolute;width:100%;height:100%;z-index:3}.containerStyle ul.gradientList li .gradientBlock .gradientOverlay{position:absolute;width:100%;height:100%;z-index:5}html{line-height:normal}body{background:#fff}ul,ol{padding:0px;margin:0px}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:10px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.container{width:100%}.container__innersize__wide,.container__innersize__small{margin-left:auto;margin-right:auto;padding-left:40px;padding-right:40px}@media screen and (max-width: 480px){.container__innersize__wide,.container__innersize__small{padding-left:20px;padding-right:20px}}.container__innersize__wide{max-width:1200px}.container__innersize__small{max-width:900px}.with-padding{padding-top:40px;padding-bottom:40px}@media screen and (max-width: 480px){.with-padding{padding-top:0px;padding-bottom:40px}}.site-content{padding-top:60px;position:relative}@media screen and (max-width: 767px){.site-content{padding-top:0px}}.bg_type_fullgradient{position:absolute;height:500px;width:100%;background:url("https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/vergaderruimte.jpg");background-size:cover;background-position:center center;top:0;z-index:-1}.bg_type_fullgradient .overlay{background:linear-gradient(135deg, rgba(228,50,96,0.7) 0%, #1e5799 100%, rgba(0,180,255,0.7) 100%);height:100%;width:100%;position:absolute}.page-template-page-textpage .entry-content{padding-bottom:30px}.page-template-page-textpage .entry-content p{margin-bottom:30px}.page-template-page-textpage .entry-content p a{color:#00B4FF}.ticker{background:#E43260;display:block;z-index:999999999;position:relative;text-align:center;padding:5px 0px 8px;font-size:0.9rem;color:#fff;font-weight:400}@media screen and (max-width: 480px){.ticker span{display:none}}.ticker a,.ticker a:visited{margin-left:20px;color:#fff;text-decoration:none}.ticker a:hover,.ticker a:visited:hover{text-decoration:underline}.ticker a i,.ticker a:visited i{margin-left:8px;top:10px;position:absolute}.section_type_homeCases{z-index:2;position:relative;padding:30px 0px 60px 0px;overflow:hidden}.section_type_homeCases .intro{padding:0px 0px 16px 0px;margin-bottom:20px}@media screen and (max-width: 767px){.section_type_homeCases .intro{padding:0px 0px 25px 0px}}@media screen and (max-width: 480px){.section_type_homeCases .intro{margin-bottom:0px}}.section_type_homeCases .column__right{padding-top:120px}@media screen and (max-width: 767px){.section_type_homeCases .column__right{padding-top:0px}}.section_type_homeCases .column__right .btn_type_rounded{margin-right:30px}.section_type_homeCases .column__left .card{min-height:350px}@media screen and (max-width: 1024px){.section_type_homeCases .column__left .card{min-height:275px}}.section_type_homeCases .card{border-radius:10px;margin-bottom:25px;display:block;text-decoration:none;position:relative;min-height:400px;margin-bottom:50px}@media screen and (max-width: 1024px){.section_type_homeCases .card{min-height:275px}}.section_type_homeCases .card:hover{-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.section_type_homeCases .card:hover .case-bg-image-container .case-image{-webkit-transform:scale(1.1);transform:scale(1.1);border-radius:10px}.section_type_homeCases .card:hover .fakebutton{right:2px;z-index:10}@media screen and (max-width: 480px){.section_type_homeCases .card:hover .fakebutton{display:none}}.section_type_homeCases .card *{color:white;margin:0px;padding:0px;z-index:3;position:relative;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.section_type_homeCases .card .text{position:absolute;bottom:30px;left:30px;width:100%}@media screen and (max-width: 1024px){.section_type_homeCases .card .text{bottom:20px;left:20px}}.section_type_homeCases .card .text h3{width:85%;font-size:1.8rem}.section_type_homeCases .card:after{content:'';display:inline-block;height:100%;width:100%;border-radius:10px;top:0;position:absolute;z-index:1;background:-webkit-gradient(linear, left top, left bottom, from(rgba(125,185,232,0)), color-stop(54%, rgba(30,30,29,0)), color-stop(81%, rgba(7,7,7,0.38)), to(rgba(7,7,7,0.5)));background:linear-gradient(to bottom, rgba(125,185,232,0) 0%, rgba(30,30,29,0) 54%, rgba(7,7,7,0.38) 81%, rgba(7,7,7,0.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#80070707',GradientType=0 )}.section_type_homeCases .card .fakebutton{width:56px;height:52px;background:url("./images/icons/icon-btn-drop.svg") no-repeat center center;position:absolute;right:5px;bottom:0px;z-index:10}@media screen and (max-width: 480px){.section_type_homeCases .card .fakebutton{display:none}}.section_type_homeCases .card .case-bg-image-container{width:100%;height:100%;position:absolute;overflow:hidden;border-radius:10px}.section_type_homeCases .card .case-bg-image-container .case-image{background-position:center center;background-size:cover;background-repeat:no-repeat;width:100%;height:100%;position:absolute}.section_type_homeCases .card .case-bg-image-container .case-image.case-brain-fuel{background:url("./images/case/BF2.webp");background-repeat:no-repeat;background-size:cover}.section_type_homeCases .card .case-bg-image-container .case-image.case-vos-opmaat{background:url("./images/case/website-home-case-vos.webp");background-repeat:no-repeat;background-size:cover}.section_type_homeCases .card .case-bg-image-container .case-image.case-de-fakkel{background:url("./images/case/Fakkel.webp");background-repeat:no-repeat;background-size:cover}.section_type_homeCases .card .case-bg-image-container .case-image.case-water-alliance{background:url("./images/case/Water-Alliance.webp");background-repeat:no-repeat;background-size:cover}.section_type_homeCases .card .case-bg-image-container .case-image.case-nissan{background:url("./images/case/Nissan-1.webp");background-repeat:no-repeat;background-size:cover}.section_type_homeCases .quote{color:#2C2C2B;padding:30px;border-radius:10px;margin-bottom:25px}@media screen and (max-width: 480px){.section_type_homeCases .quote{padding-top:0px}}.section_type_homeCases .quote h4{color:#008A80}.no-webp .case-image.case-brain-fuel{background:url("./images/case/BF2.jpg") !important;background-repeat:no-repeat;background-size:cover !important}.no-webp .case-image.case-vos-opmaat{background:url("./images/case/website-home-case-vos.png") !important;background-repeat:no-repeat;background-size:cover !important}.no-webp .case-image.case-de-fakkel{background:url("./images/case/Fakkel.jpg") !important;background-repeat:no-repeat;background-size:cover !important}.no-webp .case-image.case-water-alliance{background:url("./images/case/Water-Alliance.jpg") !important;background-repeat:no-repeat;background-size:cover !important}.no-webp .case-image.case-nissan{background:url("./images/case/Nissan-1.jpg") !important;background-repeat:no-repeat;background-size:cover !important}.section_clientLogo{padding:20px 0px 50px 0px}.section_clientLogo .clientlogoBlock{display:-webkit-box;display:flex;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:stretch;align-items:stretch}.section_clientLogo .clientlogoBlock .clientlogoBlock__item{width:16%;border:1px solid #F6F1E9;border-radius:5px;padding:20px 20px;display:inline-block;box-sizing:border-box;position:relative;height:130px;text-align:center;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center}@media screen and (max-width: 1024px){.section_clientLogo .clientlogoBlock .clientlogoBlock__item{width:32%;margin-bottom:30px}}@media screen and (max-width: 767px){.section_clientLogo .clientlogoBlock .clientlogoBlock__item{width:48%}}.section_clientLogo .clientlogoBlock .clientlogoBlock__item img{max-height:90px;margin-left:auto;margin-right:auto;max-width:100%}.section_clientLogo .clientlogoBlock .clientlogoBlock__item .clientlogoBlock__item__link{position:absolute;height:27px;width:27px;bottom:-14px;right:7px;background:#00B4FF;text-align:center;color:#fff;border-radius:20px;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:0.3s;transition-duration:0.3s}.section_clientLogo .clientlogoBlock .clientlogoBlock__item .clientlogoBlock__item__link i{line-height:27px;margin-left:2px}.section_clientLogo .clientlogoBlock a.clientlogoBlock__item:hover{border-color:#00B4FF}.section_clientLogo .clientlogoBlock a.clientlogoBlock__item:hover .clientlogoBlock__item__link{width:auto;padding-left:10px;padding-right:10px}.section_clientLogo .clientlogoBlock a.clientlogoBlock__item:hover .clientlogoBlock__item__link:before{content:'Case';margin-right:8px}.section_type_homeAbout{padding:20px 0px 70px 0px}@media screen and (max-width: 480px){.section_type_homeAbout{padding:40px 0px 30px 0px}}.section_type_homeAbout .column__left{border-radius:10px;background-image:url("./images/team-homepage.webp");background-size:cover;background-position:center center;position:relative;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;overflow:hidden;text-align:center}.section_type_homeAbout .column__left span.homeQuote{position:relative;z-index:2;color:#fff;width:83%;font-size:2.3rem;clear:both;font-weight:700;margin:0px 0px 20px 0px;padding:0px;font-family:sofia-pro, sans-serif}@media screen and (max-width: 480px){.section_type_homeAbout .column__left span.homeQuote{padding-top:10px}}.no-webp .section_type_homeAbout .column__left{background-image:url("./images/team-homepage.png")}.section_type_clients{background-color:#F6F1E9}.section_type_clients .clients{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;flex-wrap:wrap}.section_type_clients .clients .client{background:#fff;width:25%;height:140px;margin-bottom:0%;text-align:center;position:relative;padding:19px;box-sizing:border-box;-webkit-box-align:center;align-items:center;display:-webkit-box;display:flex;border:1px solid #F6F1E9}.section_type_clients .clients .client img{max-width:100%;margin-left:auto;margin-right:auto}.section_type_cases{padding-top:0px;padding-bottom:40px}.section_type_cases p.intro{width:50%;left:0}.blogContainer h2.case__payoff{max-width:1200px;text-align:center;margin-bottom:45px;color:#E43260}@media screen and (max-width: 1200px){.blogContainer h2.case__payoff{padding-left:20px;padding-right:20px;padding-bottom:0px;padding-top:35px}}@media screen and (max-width: 767px){.blogContainer h2.case__payoff{text-align:left;padding-left:40px;padding-right:40px}}.cta__block{max-width:600px;padding-left:40px;padding-right:40px;margin:50px auto;display:-webkit-box;display:flex;-webkit-box-align:stretch;align-items:stretch;-webkit-box-pack:start;justify-content:flex-start;border-radius:10px}@media screen and (max-width: 480px){.cta__block{padding-left:0px;padding-right:0px;max-width:100%;margin:20px auto 0px auto}}.cta__block .cta__left{width:220px;border-top-left-radius:10px;border-bottom-left-radius:10px}@media screen and (max-width: 480px){.cta__block .cta__left{display:none}}.cta__block .cta__left .cta__image{border-top-left-radius:10px;border-bottom-left-radius:10px;display:inline-block;width:100%;height:100%}.cta__block .cta__right{padding:25px 25px;background-color:#F6F1E9;border-top-right-radius:10px;border-bottom-right-radius:10px}@media screen and (max-width: 480px){.cta__block .cta__right{padding:40px 25px;border-top-right-radius:0px;border-bottom-right-radius:0px}}.cta__block .cta__right h3{margin-top:0px;padding-top:0px;margin-bottom:5px;color:#E43260;text-transform:none}.cta__block .cta__right span{display:block;padding-bottom:20px}.cta__block .cta__right a.btn_type_rounded{margin-bottom:0px}.cta__block .cta__right a.btn_type_text{margin-left:20px;margin-top:15px}.post-template-single-case .blogContainer .entry-content{padding-top:40px}.post-template-single-case .blogContainer .case__image{max-width:100%;border-radius:10px;display:inline-block}.post-template-single-case .blogContainer .case__image img{max-width:100%;border-radius:10px}.post-template-single-case .blogContainer .case__logo{max-width:200px;max-height:75px;text-align:left}.post-template-single-case .blogContainer h6{color:#2C2C2B}.post-template-single-case .blogContainer h1{margin-bottom:20px}.post-template-single-case .blogContainer h2{padding-top:0px;padding-bottom:15px}.post-template-single-case .blogContainer h2.case__payoff{margin-top:50px}@media screen and (max-width: 900px){.post-template-single-case .blogContainer .wp-block-columns.has-2-columns,.post-template-single-case .blogContainer .wp-block-media-text,.post-template-single-case .blogContainer .wp-block-table{padding-left:0px;padding-right:0px}}@media screen and (max-width: 767px){.post-template-single-case .blogContainer .wp-block-column,.post-template-single-case .blogContainer .wp-block-column:not(:first-child),.post-template-single-case .blogContainer .wp-block-column:nth-child(2n){flex-basis:100%;margin-left:0px}}body.page-template-page-ons-werk .entry-content{padding-bottom:0px}.alm-load-more-btn.done{display:none}body.blog .contentGrid,body.blog .alm-reveal,body.home .contentGrid,body.home .alm-reveal,body.archive .contentGrid,body.archive .alm-reveal,body.page-template-page-ons-werk .contentGrid,body.page-template-page-ons-werk .alm-reveal,body.single-post .contentGrid,body.single-post .alm-reveal{margin:0px auto;display:grid;display:-ms-grid;-ms-grid-columns:1fr 50px 1fr;grid-template-columns:1fr 1fr;grid-gap:20px 50px}body.blog .contentGrid *:nth-child(1),body.blog .alm-reveal *:nth-child(1),body.home .contentGrid *:nth-child(1),body.home .alm-reveal *:nth-child(1),body.archive .contentGrid *:nth-child(1),body.archive .alm-reveal *:nth-child(1),body.page-template-page-ons-werk .contentGrid *:nth-child(1),body.page-template-page-ons-werk .alm-reveal *:nth-child(1),body.single-post .contentGrid *:nth-child(1),body.single-post .alm-reveal *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}body.blog .contentGrid *:nth-child(2),body.blog .alm-reveal *:nth-child(2),body.home .contentGrid *:nth-child(2),body.home .alm-reveal *:nth-child(2),body.archive .contentGrid *:nth-child(2),body.archive .alm-reveal *:nth-child(2),body.page-template-page-ons-werk .contentGrid *:nth-child(2),body.page-template-page-ons-werk .alm-reveal *:nth-child(2),body.single-post .contentGrid *:nth-child(2),body.single-post .alm-reveal *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3}body.blog .contentGrid *:nth-child(3),body.blog .alm-reveal *:nth-child(3),body.home .contentGrid *:nth-child(3),body.home .alm-reveal *:nth-child(3),body.archive .contentGrid *:nth-child(3),body.archive .alm-reveal *:nth-child(3),body.page-template-page-ons-werk .contentGrid *:nth-child(3),body.page-template-page-ons-werk .alm-reveal *:nth-child(3),body.single-post .contentGrid *:nth-child(3),body.single-post .alm-reveal *:nth-child(3){-ms-grid-row:2;-ms-grid-column:1}body.blog .contentGrid *:nth-child(4),body.blog .alm-reveal *:nth-child(4),body.home .contentGrid *:nth-child(4),body.home .alm-reveal *:nth-child(4),body.archive .contentGrid *:nth-child(4),body.archive .alm-reveal *:nth-child(4),body.page-template-page-ons-werk .contentGrid *:nth-child(4),body.page-template-page-ons-werk .alm-reveal *:nth-child(4),body.single-post .contentGrid *:nth-child(4),body.single-post .alm-reveal *:nth-child(4){-ms-grid-row:2;-ms-grid-column:3}body.blog .contentGrid *:nth-child(5),body.blog .alm-reveal *:nth-child(5),body.home .contentGrid *:nth-child(5),body.home .alm-reveal *:nth-child(5),body.archive .contentGrid *:nth-child(5),body.archive .alm-reveal *:nth-child(5),body.page-template-page-ons-werk .contentGrid *:nth-child(5),body.page-template-page-ons-werk .alm-reveal *:nth-child(5),body.single-post .contentGrid *:nth-child(5),body.single-post .alm-reveal *:nth-child(5){-ms-grid-row:3;-ms-grid-column:1}body.blog .contentGrid *:nth-child(6),body.blog .alm-reveal *:nth-child(6),body.home .contentGrid *:nth-child(6),body.home .alm-reveal *:nth-child(6),body.archive .contentGrid *:nth-child(6),body.archive .alm-reveal *:nth-child(6),body.page-template-page-ons-werk .contentGrid *:nth-child(6),body.page-template-page-ons-werk .alm-reveal *:nth-child(6),body.single-post .contentGrid *:nth-child(6),body.single-post .alm-reveal *:nth-child(6){-ms-grid-row:3;-ms-grid-column:3}@media screen and (max-width: 767px){body.blog .contentGrid,body.blog .alm-reveal,body.home .contentGrid,body.home .alm-reveal,body.archive .contentGrid,body.archive .alm-reveal,body.page-template-page-ons-werk .contentGrid,body.page-template-page-ons-werk .alm-reveal,body.single-post .contentGrid,body.single-post .alm-reveal{-ms-grid-columns:1fr;grid-template-columns:1fr;grid-gap:50px}body.blog .contentGrid *:nth-child(1),body.blog .alm-reveal *:nth-child(1),body.home .contentGrid *:nth-child(1),body.home .alm-reveal *:nth-child(1),body.archive .contentGrid *:nth-child(1),body.archive .alm-reveal *:nth-child(1),body.page-template-page-ons-werk .contentGrid *:nth-child(1),body.page-template-page-ons-werk .alm-reveal *:nth-child(1),body.single-post .contentGrid *:nth-child(1),body.single-post .alm-reveal *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}body.blog .contentGrid *:nth-child(2),body.blog .alm-reveal *:nth-child(2),body.home .contentGrid *:nth-child(2),body.home .alm-reveal *:nth-child(2),body.archive .contentGrid *:nth-child(2),body.archive .alm-reveal *:nth-child(2),body.page-template-page-ons-werk .contentGrid *:nth-child(2),body.page-template-page-ons-werk .alm-reveal *:nth-child(2),body.single-post .contentGrid *:nth-child(2),body.single-post .alm-reveal *:nth-child(2){-ms-grid-row:2;-ms-grid-column:1}body.blog .contentGrid *:nth-child(3),body.blog .alm-reveal *:nth-child(3),body.home .contentGrid *:nth-child(3),body.home .alm-reveal *:nth-child(3),body.archive .contentGrid *:nth-child(3),body.archive .alm-reveal *:nth-child(3),body.page-template-page-ons-werk .contentGrid *:nth-child(3),body.page-template-page-ons-werk .alm-reveal *:nth-child(3),body.single-post .contentGrid *:nth-child(3),body.single-post .alm-reveal *:nth-child(3){-ms-grid-row:3;-ms-grid-column:1}body.blog .contentGrid *:nth-child(4),body.blog .alm-reveal *:nth-child(4),body.home .contentGrid *:nth-child(4),body.home .alm-reveal *:nth-child(4),body.archive .contentGrid *:nth-child(4),body.archive .alm-reveal *:nth-child(4),body.page-template-page-ons-werk .contentGrid *:nth-child(4),body.page-template-page-ons-werk .alm-reveal *:nth-child(4),body.single-post .contentGrid *:nth-child(4),body.single-post .alm-reveal *:nth-child(4){-ms-grid-row:4;-ms-grid-column:1}body.blog .contentGrid *:nth-child(5),body.blog .alm-reveal *:nth-child(5),body.home .contentGrid *:nth-child(5),body.home .alm-reveal *:nth-child(5),body.archive .contentGrid *:nth-child(5),body.archive .alm-reveal *:nth-child(5),body.page-template-page-ons-werk .contentGrid *:nth-child(5),body.page-template-page-ons-werk .alm-reveal *:nth-child(5),body.single-post .contentGrid *:nth-child(5),body.single-post .alm-reveal *:nth-child(5){-ms-grid-row:5;-ms-grid-column:1}body.blog .contentGrid *:nth-child(6),body.blog .alm-reveal *:nth-child(6),body.home .contentGrid *:nth-child(6),body.home .alm-reveal *:nth-child(6),body.archive .contentGrid *:nth-child(6),body.archive .alm-reveal *:nth-child(6),body.page-template-page-ons-werk .contentGrid *:nth-child(6),body.page-template-page-ons-werk .alm-reveal *:nth-child(6),body.single-post .contentGrid *:nth-child(6),body.single-post .alm-reveal *:nth-child(6){-ms-grid-row:6;-ms-grid-column:1}}body.blog .contentGrid article,body.blog .alm-reveal article,body.home .contentGrid article,body.home .alm-reveal article,body.archive .contentGrid article,body.archive .alm-reveal article,body.page-template-page-ons-werk .contentGrid article,body.page-template-page-ons-werk .alm-reveal article,body.single-post .contentGrid article,body.single-post .alm-reveal article{background-color:#fff;display:inline-block;margin:0 0 0em;width:100%;position:relative;line-height:0;border-radius:10px;height:400px;background-size:cover;background-position:center center;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}@media screen and (max-width: 1024px){body.blog .contentGrid article,body.blog .alm-reveal article,body.home .contentGrid article,body.home .alm-reveal article,body.archive .contentGrid article,body.archive .alm-reveal article,body.page-template-page-ons-werk .contentGrid article,body.page-template-page-ons-werk .alm-reveal article,body.single-post .contentGrid article,body.single-post .alm-reveal article{height:275px}}@media screen and (max-width: 767px){body.blog .contentGrid article,body.blog .alm-reveal article,body.home .contentGrid article,body.home .alm-reveal article,body.archive .contentGrid article,body.archive .alm-reveal article,body.page-template-page-ons-werk .contentGrid article,body.page-template-page-ons-werk .alm-reveal article,body.single-post .contentGrid article,body.single-post .alm-reveal article{margin-top:15px;margin-bottom:15px}}body.blog .contentGrid article:hover,body.blog .alm-reveal article:hover,body.home .contentGrid article:hover,body.home .alm-reveal article:hover,body.archive .contentGrid article:hover,body.archive .alm-reveal article:hover,body.page-template-page-ons-werk .contentGrid article:hover,body.page-template-page-ons-werk .alm-reveal article:hover,body.single-post .contentGrid article:hover,body.single-post .alm-reveal article:hover{-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}body.blog .contentGrid article:hover .fakebutton,body.blog .alm-reveal article:hover .fakebutton,body.home .contentGrid article:hover .fakebutton,body.home .alm-reveal article:hover .fakebutton,body.archive .contentGrid article:hover .fakebutton,body.archive .alm-reveal article:hover .fakebutton,body.page-template-page-ons-werk .contentGrid article:hover .fakebutton,body.page-template-page-ons-werk .alm-reveal article:hover .fakebutton,body.single-post .contentGrid article:hover .fakebutton,body.single-post .alm-reveal article:hover .fakebutton{right:-54px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}@media screen and (max-width: 480px){body.blog .contentGrid article:hover .fakebutton,body.blog .alm-reveal article:hover .fakebutton,body.home .contentGrid article:hover .fakebutton,body.home .alm-reveal article:hover .fakebutton,body.archive .contentGrid article:hover .fakebutton,body.archive .alm-reveal article:hover .fakebutton,body.page-template-page-ons-werk .contentGrid article:hover .fakebutton,body.page-template-page-ons-werk .alm-reveal article:hover .fakebutton,body.single-post .contentGrid article:hover .fakebutton,body.single-post .alm-reveal article:hover .fakebutton{display:none}}body.blog .contentGrid article:hover .blog-bg-image,body.blog .alm-reveal article:hover .blog-bg-image,body.home .contentGrid article:hover .blog-bg-image,body.home .alm-reveal article:hover .blog-bg-image,body.archive .contentGrid article:hover .blog-bg-image,body.archive .alm-reveal article:hover .blog-bg-image,body.page-template-page-ons-werk .contentGrid article:hover .blog-bg-image,body.page-template-page-ons-werk .alm-reveal article:hover .blog-bg-image,body.single-post .contentGrid article:hover .blog-bg-image,body.single-post .alm-reveal article:hover .blog-bg-image{-webkit-transform:scale(1.1);transform:scale(1.1);border-radius:10px}body.blog .contentGrid article .entry-header,body.blog .alm-reveal article .entry-header,body.home .contentGrid article .entry-header,body.home .alm-reveal article .entry-header,body.archive .contentGrid article .entry-header,body.archive .alm-reveal article .entry-header,body.page-template-page-ons-werk .contentGrid article .entry-header,body.page-template-page-ons-werk .alm-reveal article .entry-header,body.single-post .contentGrid article .entry-header,body.single-post .alm-reveal article .entry-header{overflow:hidden;width:100%;height:100%;position:relative;border-radius:10px}body.blog .contentGrid article .entry-header .blog-bg-image,body.blog .alm-reveal article .entry-header .blog-bg-image,body.home .contentGrid article .entry-header .blog-bg-image,body.home .alm-reveal article .entry-header .blog-bg-image,body.archive .contentGrid article .entry-header .blog-bg-image,body.archive .alm-reveal article .entry-header .blog-bg-image,body.page-template-page-ons-werk .contentGrid article .entry-header .blog-bg-image,body.page-template-page-ons-werk .alm-reveal article .entry-header .blog-bg-image,body.single-post .contentGrid article .entry-header .blog-bg-image,body.single-post .alm-reveal article .entry-header .blog-bg-image{width:100%;height:100%;position:absolute;background-size:cover;background-position:center center;border-radius:10px;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}body.blog .contentGrid article:nth-of-type(odd),body.blog .alm-reveal article:nth-of-type(odd),body.home .contentGrid article:nth-of-type(odd),body.home .alm-reveal article:nth-of-type(odd),body.archive .contentGrid article:nth-of-type(odd),body.archive .alm-reveal article:nth-of-type(odd),body.page-template-page-ons-werk .contentGrid article:nth-of-type(odd),body.page-template-page-ons-werk .alm-reveal article:nth-of-type(odd),body.single-post .contentGrid article:nth-of-type(odd),body.single-post .alm-reveal article:nth-of-type(odd){margin-top:50px}@media screen and (max-width: 767px){body.blog .contentGrid article:nth-of-type(odd),body.blog .alm-reveal article:nth-of-type(odd),body.home .contentGrid article:nth-of-type(odd),body.home .alm-reveal article:nth-of-type(odd),body.archive .contentGrid article:nth-of-type(odd),body.archive .alm-reveal article:nth-of-type(odd),body.page-template-page-ons-werk .contentGrid article:nth-of-type(odd),body.page-template-page-ons-werk .alm-reveal article:nth-of-type(odd),body.single-post .contentGrid article:nth-of-type(odd),body.single-post .alm-reveal article:nth-of-type(odd){margin-top:15px;margin-bottom:15px}}body.blog .contentGrid article:nth-of-type(even),body.blog .alm-reveal article:nth-of-type(even),body.home .contentGrid article:nth-of-type(even),body.home .alm-reveal article:nth-of-type(even),body.archive .contentGrid article:nth-of-type(even),body.archive .alm-reveal article:nth-of-type(even),body.page-template-page-ons-werk .contentGrid article:nth-of-type(even),body.page-template-page-ons-werk .alm-reveal article:nth-of-type(even),body.single-post .contentGrid article:nth-of-type(even),body.single-post .alm-reveal article:nth-of-type(even){margin-bottom:-50px;position:relative}@media screen and (max-width: 767px){body.blog .contentGrid article:nth-of-type(even),body.blog .alm-reveal article:nth-of-type(even),body.home .contentGrid article:nth-of-type(even),body.home .alm-reveal article:nth-of-type(even),body.archive .contentGrid article:nth-of-type(even),body.archive .alm-reveal article:nth-of-type(even),body.page-template-page-ons-werk .contentGrid article:nth-of-type(even),body.page-template-page-ons-werk .alm-reveal article:nth-of-type(even),body.single-post .contentGrid article:nth-of-type(even),body.single-post .alm-reveal article:nth-of-type(even){margin-bottom:15px;margin-top:15px}}body.blog .contentGrid article h2,body.blog .alm-reveal article h2,body.home .contentGrid article h2,body.home .alm-reveal article h2,body.archive .contentGrid article h2,body.archive .alm-reveal article h2,body.page-template-page-ons-werk .contentGrid article h2,body.page-template-page-ons-werk .alm-reveal article h2,body.single-post .contentGrid article h2,body.single-post .alm-reveal article h2{color:#fff;margin-bottom:0px;padding-top:0px}body.blog .contentGrid article .entry-content,body.blog .alm-reveal article .entry-content,body.home .contentGrid article .entry-content,body.home .alm-reveal article .entry-content,body.archive .contentGrid article .entry-content,body.archive .alm-reveal article .entry-content,body.page-template-page-ons-werk .contentGrid article .entry-content,body.page-template-page-ons-werk .alm-reveal article .entry-content,body.single-post .contentGrid article .entry-content,body.single-post .alm-reveal article .entry-content{position:absolute;bottom:25px;z-index:99999;left:25px;width:calc(100% - 50px);color:#fff;padding-bottom:0px}@media screen and (max-width: 1024px){body.blog .contentGrid article .entry-content,body.blog .alm-reveal article .entry-content,body.home .contentGrid article .entry-content,body.home .alm-reveal article .entry-content,body.archive .contentGrid article .entry-content,body.archive .alm-reveal article .entry-content,body.page-template-page-ons-werk .contentGrid article .entry-content,body.page-template-page-ons-werk .alm-reveal article .entry-content,body.single-post .contentGrid article .entry-content,body.single-post .alm-reveal article .entry-content{bottom:20px;left:20px}}body.blog .contentGrid article .entry-content span.archive-content-title,body.blog .alm-reveal article .entry-content span.archive-content-title,body.home .contentGrid article .entry-content span.archive-content-title,body.home .alm-reveal article .entry-content span.archive-content-title,body.archive .contentGrid article .entry-content span.archive-content-title,body.archive .alm-reveal article .entry-content span.archive-content-title,body.page-template-page-ons-werk .contentGrid article .entry-content span.archive-content-title,body.page-template-page-ons-werk .alm-reveal article .entry-content span.archive-content-title,body.single-post .contentGrid article .entry-content span.archive-content-title,body.single-post .alm-reveal article .entry-content span.archive-content-title{clear:both;font-weight:700;padding:0px;font-family:sofia-pro, sans-serif;color:#fff;font-size:1.8rem;line-height:1.2;display:block}body.blog .contentGrid article .entry-meta,body.blog .alm-reveal article .entry-meta,body.home .contentGrid article .entry-meta,body.home .alm-reveal article .entry-meta,body.archive .contentGrid article .entry-meta,body.archive .alm-reveal article .entry-meta,body.page-template-page-ons-werk .contentGrid article .entry-meta,body.page-template-page-ons-werk .alm-reveal article .entry-meta,body.single-post .contentGrid article .entry-meta,body.single-post .alm-reveal article .entry-meta{margin-bottom:10px;padding:0px 0px}body.blog .contentGrid article .fakebutton,body.blog .alm-reveal article .fakebutton,body.home .contentGrid article .fakebutton,body.home .alm-reveal article .fakebutton,body.archive .contentGrid article .fakebutton,body.archive .alm-reveal article .fakebutton,body.page-template-page-ons-werk .contentGrid article .fakebutton,body.page-template-page-ons-werk .alm-reveal article .fakebutton,body.single-post .contentGrid article .fakebutton,body.single-post .alm-reveal article .fakebutton{width:56px;height:52px;background:url("./images/icons/icon-btn-drop.svg") no-repeat center center;position:absolute;right:-50px;bottom:7px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}@media screen and (max-width: 480px){body.blog .contentGrid article .fakebutton,body.blog .alm-reveal article .fakebutton,body.home .contentGrid article .fakebutton,body.home .alm-reveal article .fakebutton,body.archive .contentGrid article .fakebutton,body.archive .alm-reveal article .fakebutton,body.page-template-page-ons-werk .contentGrid article .fakebutton,body.page-template-page-ons-werk .alm-reveal article .fakebutton,body.single-post .contentGrid article .fakebutton,body.single-post .alm-reveal article .fakebutton{display:none}}body.blog .contentGrid article .tags.red:hover,body.blog .alm-reveal article .tags.red:hover,body.home .contentGrid article .tags.red:hover,body.home .alm-reveal article .tags.red:hover,body.archive .contentGrid article .tags.red:hover,body.archive .alm-reveal article .tags.red:hover,body.page-template-page-ons-werk .contentGrid article .tags.red:hover,body.page-template-page-ons-werk .alm-reveal article .tags.red:hover,body.single-post .contentGrid article .tags.red:hover,body.single-post .alm-reveal article .tags.red:hover{background:#E43260;cursor:pointer}body.blog .contentGrid article .tags.green:hover,body.blog .alm-reveal article .tags.green:hover,body.home .contentGrid article .tags.green:hover,body.home .alm-reveal article .tags.green:hover,body.archive .contentGrid article .tags.green:hover,body.archive .alm-reveal article .tags.green:hover,body.page-template-page-ons-werk .contentGrid article .tags.green:hover,body.page-template-page-ons-werk .alm-reveal article .tags.green:hover,body.single-post .contentGrid article .tags.green:hover,body.single-post .alm-reveal article .tags.green:hover{background:#008A80;cursor:pointer}body.blog .contentGrid .article:nth-of-type(4n+1),body.blog .alm-reveal .article:nth-of-type(4n+1),body.home .contentGrid .article:nth-of-type(4n+1),body.home .alm-reveal .article:nth-of-type(4n+1),body.archive .contentGrid .article:nth-of-type(4n+1),body.archive .alm-reveal .article:nth-of-type(4n+1),body.page-template-page-ons-werk .contentGrid .article:nth-of-type(4n+1),body.page-template-page-ons-werk .alm-reveal .article:nth-of-type(4n+1),body.single-post .contentGrid .article:nth-of-type(4n+1),body.single-post .alm-reveal .article:nth-of-type(4n+1){-webkit-box-ordinal-group:2;order:1}body.blog .contentGrid .article:nth-of-type(4n+2),body.blog .alm-reveal .article:nth-of-type(4n+2),body.home .contentGrid .article:nth-of-type(4n+2),body.home .alm-reveal .article:nth-of-type(4n+2),body.archive .contentGrid .article:nth-of-type(4n+2),body.archive .alm-reveal .article:nth-of-type(4n+2),body.page-template-page-ons-werk .contentGrid .article:nth-of-type(4n+2),body.page-template-page-ons-werk .alm-reveal .article:nth-of-type(4n+2),body.single-post .contentGrid .article:nth-of-type(4n+2),body.single-post .alm-reveal .article:nth-of-type(4n+2){-webkit-box-ordinal-group:3;order:2}body.blog .contentGrid .article:nth-of-type(4n+3),body.blog .alm-reveal .article:nth-of-type(4n+3),body.home .contentGrid .article:nth-of-type(4n+3),body.home .alm-reveal .article:nth-of-type(4n+3),body.archive .contentGrid .article:nth-of-type(4n+3),body.archive .alm-reveal .article:nth-of-type(4n+3),body.page-template-page-ons-werk .contentGrid .article:nth-of-type(4n+3),body.page-template-page-ons-werk .alm-reveal .article:nth-of-type(4n+3),body.single-post .contentGrid .article:nth-of-type(4n+3),body.single-post .alm-reveal .article:nth-of-type(4n+3){-webkit-box-ordinal-group:4;order:3}body.blog .contentGrid .article:nth-of-type(4n),body.blog .alm-reveal .article:nth-of-type(4n),body.home .contentGrid .article:nth-of-type(4n),body.home .alm-reveal .article:nth-of-type(4n),body.archive .contentGrid .article:nth-of-type(4n),body.archive .alm-reveal .article:nth-of-type(4n),body.page-template-page-ons-werk .contentGrid .article:nth-of-type(4n),body.page-template-page-ons-werk .alm-reveal .article:nth-of-type(4n),body.single-post .contentGrid .article:nth-of-type(4n),body.single-post .alm-reveal .article:nth-of-type(4n){-webkit-box-ordinal-group:5;order:4}body.blog .interestingContent,body.home .interestingContent,body.archive .interestingContent,body.page-template-page-ons-werk .interestingContent,body.single-post .interestingContent{border-radius:10px}.alm-btn-wrap{padding-top:30px;text-align:center}.column{display:-webkit-box;display:flex;-webkit-box-align:stretch;align-items:stretch;-webkit-box-pack:justify;justify-content:space-between}@media screen and (max-width: 767px){.column{display:block}}.column .column__left{width:48%}@media screen and (max-width: 767px){.column .column__left{width:100%;min-height:200px;margin-bottom:25px}}@media screen and (max-width: 480px){.column .column__left{min-height:130px;margin-bottom:25px}}.column .column__right{width:48%}@media screen and (max-width: 767px){.column .column__right{width:100%;min-height:200px}}.column .column__oneThird{width:34%}@media screen and (max-width: 767px){.column .column__oneThird{width:100%}}.column .column__twoThird{width:60%}@media screen and (max-width: 767px){.column .column__twoThird{width:100%}}section.section_type_intro{padding-top:40px;padding-bottom:20px;z-index:2;position:relative}@media screen and (max-width: 480px){section.section_type_intro{padding-top:20px}}section.section_type_intro img{max-width:100%;height:auto;border-radius:10px}body.single-post .yarpp-related{margin-bottom:0px}body.single-post .yarpp-container{padding-top:50px;padding-bottom:20px;background:#F9F9F9;border-top-left-radius:10px;border-top-right-radius:10px;margin:40px 0px 0px 0px}@media screen and (max-width: 480px){body.single-post .yarpp-container{padding-top:30px}}body.single-post .yarpp-container h3{margin-bottom:30px;text-transform:none}body.single-post .yarpp-container article{height:285px}body.single-post .yarpp-container article:nth-of-type(odd){margin-top:0px}body.single-post .yarpp-container article .fakebutton{right:-47px;width:42px;height:40px;background-size:cover;bottom:15px}body.single-post .yarpp-container article .entry-content{bottom:10px;left:23px}body.single-post .yarpp-container article .entry-content h3{font-size:1.5rem;margin-bottom:0px;color:white}section.section_type_manifest{padding-bottom:45px}@media screen and (max-width: 480px){section.section_type_manifest{padding-bottom:0px}}section.section_type_manifest .column__right{padding-top:60px}@media screen and (max-width: 480px){section.section_type_manifest .column__right{padding-top:0px}}section.section_type_manifest .manifest_type_text{min-height:200px;width:100%;margin-bottom:2%;display:inline-block;text-align:justify}@media screen and (max-width: 480px){section.section_type_manifest .manifest_type_text{min-height:10px;margin-bottom:9%}}section.section_type_manifest .manifest_type_text h3{padding:30px 0px 10px 0px;color:#2C2C2B;font-size:1.8rem;text-align:center}@media screen and (max-width: 480px){section.section_type_manifest .manifest_type_text h3{padding-top:0px;padding-bottom:0px}}section.section_type_manifest .manifest_type_text h3 span{display:block}@media screen and (max-width: 480px){section.section_type_manifest .manifest_type_text h3 span{display:inline-block}}section.section_type_manifest .manifest_type_text h3 span.red{color:#E43260}section.section_type_manifest .manifest_type_text h3 span.blue{color:#00B4FF}section.section_type_manifest .manifest_type_text h3 span.green{color:#008A80}section.section_type_manifest .manifest_type_text h3 span.golden{color:#FABB5A}section.section_type_manifest .manifest_type_text p{padding:0px 0px 30px 0px}@media screen and (max-width: 480px){section.section_type_manifest .manifest_type_text p{padding-bottom:0px}}section.teamSection{background:#F6F1E9;padding-top:70px}div.team{display:-webkit-box;display:flex;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;width:100%;padding-top:40px;padding-bottom:50px}div.team .team__member{width:46%;margin-bottom:30px;position:relative;border-radius:10px}div.team .team__member:nth-child(2n){margin-top:-40px}@media screen and (max-width: 650px){div.team .team__member:nth-child(2n){margin-top:0px}}@media screen and (max-width: 1024px){div.team .team__member{width:49%}}@media screen and (max-width: 650px){div.team .team__member{width:100%}}div.team .team__member .team__member__photo{height:400px;position:relative;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px;overflow:hidden}div.team .team__member .team__member__photo .photostate__default{-webkit-transition:opacity 0.2s cubic-bezier(0, 1, 0.5, 1);transition:opacity 0.2s cubic-bezier(0, 1, 0.5, 1);opacity:1;position:absolute;height:100%;width:100%;z-index:6}div.team .team__member .team__member__photo .photostate__hover{position:absolute;height:100%;width:100%;z-index:5}div.team .team__member .team__member__photo .team__member__photo__overlay{width:100%;position:absolute;height:100%;z-index:25;top:400px;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:1.0s;transition-duration:1.0s;-webkit-transition-timing-function:cubic-bezier(0, 1, 0.5, 1);transition-timing-function:cubic-bezier(0, 1, 0.5, 1)}div.team .team__member .team__member__photo .team__member__photo__quote{position:absolute;z-index:30;color:#fff;top:400px;font-size:1.3rem;width:calc(100% - 60px);height:100%;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:2.0s;transition-duration:2.0s;-webkit-transition-timing-function:cubic-bezier(0, 1, 0.5, 1);transition-timing-function:cubic-bezier(0, 1, 0.5, 1)}div.team .team__member .team__member__photo .team__member__photo__quote span{bottom:30px;left:30px;position:absolute}div.team .team__member .team__member__info{padding:15px 25px 20px 25px;background:#fff;border-bottom-right-radius:10px;border-bottom-left-radius:10px}div.team .team__member .team__member__info .teamTitle{color:#008A80;-webkit-margin-before:0em;-webkit-margin-after:0em;clear:both;font-weight:700;margin:0px 0px 20px 0px;padding:0px;font-family:sofia-pro, sans-serif;font-size:1.5rem;line-height:1.25}div.team .team__member .team__member__info .underTitle{width:100%;display:block;margin-top:5px;opacity:0.85;margin-bottom:20px}div.team .team__member .team__member__info a.team__member__info__contact{color:#2C2C2B;margin-right:15px}div.team .team__member .team__member__info a.team__member__info__contact:hover{color:#00B4FF}div.team .team__member .team__member__info a.teamTel{display:block}div.team .team__member .team__member__info a.team__member__info__social{float:right;display:inline-block;margin-left:6px;color:#008A80;text-decoration:none;border:1px solid #e9e9e9;padding:1px 6px;border-radius:2px}div.team .team__member .team__member__info a.team__member__info__social:hover{color:#E43260;border:1px solid #E43260}div.team .team__member.psst{width:65%;margin-left:auto;margin-right:auto;height:250px;padding:0px 0px 0px 0px}div.team .team__member.psst .team__member__photo{height:100%}div.team .team__member.psst .team__member__photo__overlay{top:0px;z-index:15}div.team .team__member.psst .team__member__info{background:transparent;position:absolute;bottom:30px;z-index:20;color:#fff;width:calc(100% - 60px)}div.team .team__member.psst .team__member__info h3{color:#fff}div.team .team__member.psst .team__member__info a.btn{position:absolute;right:-40px;width:60px;height:60px;bottom:20px;background:#FABB5A}div.team .team__member:hover .photostate__default{opacity:0}div.team .team__member:hover .team__member__photo__overlay{top:0px !important;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:0.5s;transition-duration:0.5s;-webkit-transition-timing-function:cubic-bezier(0, 1, 0.5, 1);transition-timing-function:cubic-bezier(0, 1, 0.5, 1)}div.team .team__member:hover .team__member__photo__quote{height:400px !important;top:0px !important;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:1.4s;transition-duration:1.4s;-webkit-transition-timing-function:cubic-bezier(0, 1, 0.5, 1);transition-timing-function:cubic-bezier(0, 1, 0.5, 1)}div.team .team__member.gk .photostate__default{background-image:url(./images/team/compion-geert-1.jpg);background-size:cover;background-position:center center}div.team .team__member.gk .photostate__hover{background-image:url("./images/team/compion-geert-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.kr .photostate__default{background-image:url(./images/team/compion-karinus-1.jpg);background-size:cover;background-position:center center}div.team .team__member.kr .photostate__hover{background-image:url("./images/team/compion-karinus-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.htk .photostate__default{background-image:url(./images/team/compion-heleen.jpg);background-size:cover;background-position:center center}div.team .team__member.htk .photostate__hover{background-image:url("./images/team/compion-heleen-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.ef .photostate__default{background-image:url(./images/team/compion-erik.jpg);background-size:cover;background-position:center center}div.team .team__member.ef .photostate__hover{background-image:url("./images/team/compion-erik-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.wdg .photostate__default{background-image:url(./images/team/compion-wilmer.jpg);background-size:cover;background-position:center center}div.team .team__member.wdg .photostate__hover{background-image:url("./images/team/compion-wilmer-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.ft .photostate__default{background-image:url(./images/team/compion-fenna.png);background-size:cover;background-position:center center}div.team .team__member.ft .photostate__hover{background-image:url("./images/team/compion-fenna-hover.png");background-size:cover;background-position:center center}div.team .team__member.aw .photostate__default{background-image:url(./images/team/compion-anne.png);background-size:cover;background-position:center center}div.team .team__member.aw .photostate__hover{background-image:url("./images/team/compion-anne-hover.png");background-size:cover;background-position:center center}div.team .team__member.jv .photostate__default{background-image:url(./images/team/compion-judith.jpg);background-size:cover;background-position:center center}div.team .team__member.jv .photostate__hover{background-image:url("./images/team/compion-judith-hover.jpg");background-size:cover;background-position:center center}div.team .team__member.alien .photostate__default{background-image:url("https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/lopenddoorkantoor.jpg");background-size:cover;background-position:center center}div.team .team__member.alien .photostate__hover{background-image:url("https://www.onlinemediakoffer.nl/wp-content/themes/omk/images/kantoor/overlegvergaderzaal.jpg");background-size:cover;background-position:center center}.section_insta{padding-top:60px;padding-bottom:60px}.section_insta p{width:50%}@media screen and (max-width: 480px){.section_insta p{width:100%}}.section_type_expertise{padding-top:60px;padding-bottom:60px}.section_type_expertise .container__innersize__wide{margin-bottom:100px}@media screen and (max-width: 480px){.section_type_expertise .container__innersize__wide{margin-bottom:50px}}.section_type_expertise .concept .column__left{background:url("./images/brainstorm.jpg");background-size:cover;background-position:center center;border-radius:10px;min-height:350px;-webkit-box-align:center;align-items:center}@media screen and (max-width: 480px){.section_type_expertise .concept .column__left{min-height:auto;height:225px;margin-bottom:20px}}.section_type_expertise .realisatie .column__right{background:url("./images/optimalisatie.jpg");background-size:cover;background-position:center center;border-radius:10px;min-height:350px}@media screen and (max-width: 767px){.section_type_expertise .realisatie .column__right{display:none}}.section_type_expertise .optimalisatie .column__left{background:url("./images/wilmer-focus2.jpg");background-size:cover;background-position:center center;border-radius:10px;min-height:350px}@media screen and (max-width: 480px){.section_type_expertise .optimalisatie .column__left{min-height:auto;height:225px;margin-bottom:20px}}.section_type_expertise ul{list-style-type:none;padding-left:0px;margin-left:0px;-webkit-padding-start:0px;padding-inline-start:0px;-webkit-columns:2;-moz-columns:2;columns:2;margin-top:35px}@media screen and (max-width: 1024px){.section_type_expertise ul{-webkit-columns:1;-moz-columns:1;columns:1}}.section_type_expertise ul li{color:#2C2C2B;font-weight:700;margin-bottom:10px}.section_type_expertise ul li a{font-weight:700;color:#00B4FF}.wp-block-gallery{max-width:1200px;margin-left:auto;margin-right:auto}@media screen and (max-width: 1200px){.wp-block-gallery{padding-left:20px;padding-right:20px}}div.section_blog{padding-bottom:50px}.blogContainer{max-width:1000px;margin:0px auto}.blogContainer h1,.blogContainer h2,.blogContainer h3,.blogContainer h4,.blogContainer h5,.blogContainer h6,.blogContainer p,.blogContainer ul,.blogContainer blockquote,.blogContainer figure,.blogContainer pre{max-width:600px;margin:0px auto}.blogContainer ul.wp-block-gallery{max-width:1200px}@media screen and (max-width: 1200px){.blogContainer ul.wp-block-gallery{padding-left:20px;padding-right:20px}}.blogContainer table{max-width:1200px}.blogContainer table td{padding:10px;border:1px solid grey}.blogContainer h1{padding-top:15px;margin-bottom:15px}.blogContainer h2,.blogContainer h3,.blogContainer h4,.blogContainer h5,.blogContainer h6{padding-top:40px}.blogContainer .thumbnail{border-radius:10px;height:400px;background-size:cover;background-position:center center}@media screen and (max-width: 480px){.blogContainer .thumbnail{height:225px}}.blogContainer .post-thumbnail img{max-width:1000px;height:auto;margin:0px auto}.blogContainer p,.blogContainer ul,.blogContainer ol,.blogContainer blockquote,.blogContainer figure,.blogContainer pre{margin-bottom:20px}.blogContainer p a{color:#00B4FF}.blogContainer .entry-content{padding-bottom:0px}.blogContainer .entry-meta-top{margin-top:10px;max-width:600px;margin-left:auto;margin-right:auto;padding:20px 0px 0px 0px}.blogContainer .entry-meta{margin-bottom:50px}.blogContainer .entry-meta .entry-meta-inner{background:#f9f9f9;padding-top:20px;padding-bottom:30px;border-bottom-left-radius:10px;border-bottom-right-radius:10px}.blogContainer .entry-meta .tags{margin-top:3px;margin-bottom:3px}.blogContainer .wp-block-columns.has-2-columns,.blogContainer .wp-block-media-text,.blogContainer .wp-block-table{max-width:1000px;margin:0px auto;display:-webkit-box !important;display:flex !important}.blogContainer .wp-block-columns.has-3-columns{max-width:1000px;margin:0px auto}.blogContainer .wp-block-file{max-width:560px;margin:0px auto;background:#F6F1E9;padding:20px;margin-bottom:20px}.blogContainer .wp-block-media-text{background:#F6F1E9;margin-bottom:20px;border-radius:10px;overflow:hidden}.blogContainer .wp-block-media-text *{color:white}.blogContainer .wp-block-media-text:nth-of-type(even){background:linear-gradient(135deg, #00b4ff 0%, #fabb5a 0%, #00b4ff 100%)}.blogContainer .wp-block-media-text:nth-of-type(odd){background:linear-gradient(135deg, #e43260 0%, #008a80 100%, #00b4ff 100%)}.blogContainer .wp-block-columns{display:grid;display:-ms-grid;-ms-grid-columns:1fr;grid-template-columns:1fr;row-gap:20px}@media screen and (min-width: 600px){.blogContainer .wp-block-columns{grid-template-columns:1fr 1fr;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px;-ms-grid-columns:1fr 20px 1fr}}@media screen and (min-width: 1300px){.blogContainer .wp-block-columns.has-3-columns{grid-template-columns:repeat(3, 1fr);row-gap:0;-ms-grid-columns:1fr [3]}}@media screen and (min-width: 1300px){.blogContainer .wp-block-columns.has-4-columns{grid-template-columns:repeat(4, 1fr);row-gap:0;-ms-grid-columns:1fr [4]}}.entry-header.container__innersize__small h1{width:50%}@media screen and (max-width: 480px){.entry-header.container__innersize__small h1{width:100%}}.wp-block-columns.has-2-columns,.wp-block-media-text,.wp-block-table{max-width:900px;margin:0px auto;display:-webkit-box !important;display:flex !important}@media screen and (max-width: 900px){.wp-block-columns.has-2-columns,.wp-block-media-text,.wp-block-table{padding-left:20px;padding-right:20px}}body.tag h1{margin-bottom:40px}body.tag .ajax-load-more-wrap{padding-top:10px}body.tag .tag-content{width:60%;margin-bottom:30px}@media screen and (max-width: 480px){body.tag .tag-content{width:100%}}body.tag .tag-content .cta__block{margin-left:0px}body.tag .tagContentBlock{margin-bottom:60px}body.tag .productBlock{background:#F6F1E9;border-radius:10px;padding:20px;box-sizing:border-box}body.tag .productBlock h3{color:#E43260}body.tag .productBlock ul.tag-product-usp{-webkit-margin-before:0em;margin-block-start:0em;-webkit-margin-after:0em;margin-block-end:0em;-webkit-margin-start:0px;margin-inline-start:0px;-webkit-margin-end:0px;margin-inline-end:0px;-webkit-padding-start:0px;padding-inline-start:0px;list-style-type:none}body.tag .productBlock ul.tag-product-usp li{padding-left:29px;margin-bottom:10px}body.tag .productBlock ul.tag-product-usp li:before{content:'\f00c';font-family:'FontAwesome';margin-left:-29px;margin-right:8px;color:#008A80}body.tag .productBlock .cta__block{margin:25px auto;padding-right:0px;padding-left:0px}body.tag .productBlock .cta__block .cta__left{width:120px}body.tag .productBlock .cta__block .cta__left .cta__image{display:block;width:90px;height:90px;border-radius:50%;margin-right:10px}body.tag .productBlock .cta__block .cta__right{padding:0px}footer{background:#2C2C2B}footer *{color:#fff}footer .footerDetails{display:grid;display:-ms-grid;-ms-grid-columns:1fr 20px 1fr 20px 1fr 20px 1fr;-ms-grid-rows:1fr;grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:1fr;grid-gap:20px;color:#fff;padding-top:80px;padding-bottom:50px;position:relative;z-index:99}footer .footerDetails *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}footer .footerDetails *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3}footer .footerDetails *:nth-child(3){-ms-grid-row:1;-ms-grid-column:5}footer .footerDetails *:nth-child(4){-ms-grid-row:1;-ms-grid-column:7}@media screen and (max-width: 767px){footer .footerDetails{grid-template-columns:1fr 1fr;-ms-grid-columns:1fr 1fr}footer .footerDetails *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}footer .footerDetails *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3}footer .footerDetails *:nth-child(3){-ms-grid-row:2;-ms-grid-column:1}footer .footerDetails *:nth-child(4){-ms-grid-row:2;-ms-grid-column:3}}@media screen and (max-width: 480px){footer .footerDetails{grid-template-columns:1fr;-ms-grid-columns:1fr;padding-top:50px;padding-bottom:30px}footer .footerDetails *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1}footer .footerDetails *:nth-child(2){-ms-grid-row:2;-ms-grid-column:1}footer .footerDetails *:nth-child(3){-ms-grid-row:3;-ms-grid-column:1}footer .footerDetails *:nth-child(4){-ms-grid-row:4;-ms-grid-column:1}}footer .footerDetails h5{color:#E43260}footer .footerDetails p{font-size:14px}footer .footerDetails img.footerLogo{max-width:200px}footer .copyright{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;background:#2C2C2B;opacity:0.5;font-size:12px;padding-top:15px;padding-bottom:15px}@media screen and (max-width: 767px){footer .copyright{display:block;text-align:center}}footer .copyright #copyright-menu{text-align:right;display:-webkit-box;display:flex}@media screen and (max-width: 767px){footer .copyright #copyright-menu{display:block;width:100%;text-align:center}}footer .copyright #copyright-menu ul{display:-webkit-box;display:flex}@media screen and (max-width: 767px){footer .copyright #copyright-menu ul{display:inline-block}}footer .copyright #copyright-menu ul li{list-style:none;margin-left:20px}.ctaBlock{padding-top:30px;background:linear-gradient(135deg, rgba(0,180,255,0.7) 0%, rgba(0,138,128,0.9) 100%)}.ctaBlock h1{color:#fff;text-align:center}.section_type_contactCrystalic{padding:100px 0px}@media screen and (max-width: 1024px){.section_type_contactCrystalic{padding:50px 0px}}@media screen and (max-width: 480px){.section_type_contactCrystalic{padding:20px 0px}}.section_type_contactCrystalic img{width:100%;height:auto;border-radius:10px}.section_type_contactOther{padding:0px 0px 100px 0px}@media screen and (max-width: 480px){.section_type_contactOther{padding-bottom:50px}}.section_type_contactOther img{margin-bottom:20px;margin-top:20px;width:100%;height:auto;border-radius:10px}
/*# sourceMappingURL=style.css.map */